<table>
    <tr>
        <th>Name</th>
        <td>@ViewBag.Feedback.Name</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>@ViewBag.Feedback.Email</td>
    </tr>
    <tr>
        <th>Subject</th>
        <td>@ViewBag.Feedback.Subject</td>
    </tr>
</table>
@ViewBag.Feedback.Message