/* here you can put your own css to customize and override the theme */
body {
    overflow-x:hidden;
}
.link-btn{
    width: 28px;
    height: 28px;
    display: block;
    border-radius: 14px !important;
    border: none;
}

splhead {
    padding: 10px 0;
    margin-bottom: 40px;
}

.page-bar {
    margin: 20px 0px !important;
}

a, a:hover {
    text-decoration:none;
}

a .caption-helper {
    font-size:small;
}

.portlet-footer {
    border-top:1px solid #eee;
    padding: 10px 0px;
}
.portlet-footer .btn {
    border-width: 0;
    padding: 5px 10px;
    font-size: 11px;
    outline: none !important;
    background-image: none !important;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;

}
.img-logo {
    width: 100%;
    margin: 10px;
}
.errors ul li {
    list-style-type: none;
}
tags-input .tags {
    background-color: transparent;
}
tags-input .tags.focused{
    border-color: #999;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.inbox .table > tbody + tbody {
    border: none;
}
.portlet.dark .portlet-title a,.portlet.dark .portlet-body a {
    color: inherit;
}
.portlet.box > .portlet-footer {
    background-color: #fff;
    padding: 10px;
}