<section id="jobs">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2>{{title}}</h2>
                <cc-pager total-pages="pages" current-page="currentPage"
                          page-action="navigate(pageNumber)">
                </cc-pager>
                <div class="jobs" ng-repeat="row in records">
                    <a href="#/job/application/{{row.id}}">
                        <div ng-if="row.featured" class="featured"></div>
                        <img src="{{row.contractor.pictureUrl}}" alt="" class="img-circle" />
                        <div class="title">
                            <h5>{{row.contractor.firstName}} {{row.contractor.lastName}}</h5>
                            <p>{{row.contractor.about | limitTo: 200}}</p>
                        </div>
                        <div class="data">
                            <span class="city"><i class="fa fa-map-marker"></i>{{row.contractor.location}}</span>
                            <span class="experience"><i class="fa fa-trophy"></i>{{row.contractor.experienceYears}}.{{row.contractor.experienceMonths}} years</span>
                            <span class="sallary"><i class="fa fa-inr"></i>{{row.contractor.rate}}k</span>
                        </div>
                    </a>
                </div>
                <cc-pager total-pages="pages" current-page="currentPage"
                          page-action="navigate(pageNumber)">
                </cc-pager>
            </div>
            <div class="col-sm-4" id="sidebar">
                <!-- Find a Job Start -->
                <div class="sidebar-widget" id="jobsearch">
                    <h2>Folders</h2>
                    <ul>
                        <li ng-click="search(query)" ng-model="query.folder" ng-repeat="f in folders"><a href>{{f.label}}</a></li>
                    </ul>
                </div>
                <!-- Find a Job End -->

            </div>
        </div>
    </div>
</section>
