<h3 class="page-title">
    {{title}} <small>{{count}} found</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Job Applications</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <span class="pull-right">
            <input type="checkbox" class="btn default" ng-model="selectAll" />
        </span>
    </div>
</div>

<div class="row">
    <div class="col-sm-4" id="sidebar">
        <div class="row">
            <div class="col-xs-12">
                <h3>Save</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control input-xs" ng-model="folder" />
                        <span class="input-group-btn">
                            <button ng-click="move(folder)" class="btn btn-primary srch-btn-pad">{{save}}</button>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div ng-if="jobs.length==0" class="text-danger">
                        No active published jobs yet.
                    </div>
                </div>
                <div class="form-group">
                    <div ng-if="jobs.length>0">
                        <div class="input-group">
                            <select ui-select2 class="form-control" ng-model="job" ng-options="s.label for s in jobs track by s.id"></select>
                            <span class="input-group-btn">
                                <button ng-click="invite(job)" class="btn btn-primary srch-btn-pad">Invite</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 inbox">
                <h2>Folders</h2>
                <ul class="inbox-nav margin-bottom-10">
                    <li class="inbox" ng-class="{active:f.label.toLowerCase()==query.folder}" ng-repeat="f in folders">
                        <a class="btn" href="#/job/{{id}}/applications/{{f.label|lowercase}}">{{f.label ||'Unknown'}} ({{f.count}})</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <cc-pager total-pages="pages" current-page="currentPage"
                  page-action="navigate(pageNumber)">
        </cc-pager>
        <div class="col-xs-12" ng-repeat="row in records" ng-include="'app/views/company/contractor.app.html'"></div>
        <cc-pager total-pages="pages" current-page="currentPage"
                  page-action="navigate(pageNumber)">
        </cc-pager>
    </div>
</div>