<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <i ng-if="row.contractor.consultantType!='IndependentCosultant'" class="fa fa-building-o font-yellow-casablanca"></i>
            <a href="/#/contractor/{{row.contractor.id}}">
                <span class="caption-subject bold font-yellow-casablanca uppercase">
                    {{row.contractor.firstName}} {{row.contractor.lastName}}
                </span>
                <span class="caption-helper">{{row.contractor.experienceYears}}.{{row.contractor.experienceMonths}} years</span>
            </a>
            <h5 ng-if="row.contractor.companyId">{{row.contractor.company}}</h5>
        </div>
        <div class="actions flex">
            <a href="javascript:;" class="btn btn-circle btn-success">
                {{row.contractor.available}}
            </a>
            <a href="javascript:;" class="btn btn-circle btn-success">
                <i class="fa fa-inr"></i> {{row.contractor.rate}} / {{row.contractor.rateType}}
            </a>
            <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                <i class="fa fa-{{row.contractor.gender|lowercase}}"></i>
            </a>
            <a ng-if="row.contractor.contractType=='WorkFromHome'" class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                <i class="fa fa-home"></i>
            </a>
            <a ng-if="row.contractor.contractType=='ClientLocation'" class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                <i class="fa fa-car"></i>
            </a>
            <span>
                <input type="checkbox" ng-model="row.contractor.selected">
            </span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-xs-2">
                <a class="picture" ng-if="row.contractor.pictureUrl" href="#/contractor/{{row.contractor.id}}"><img src="{{row.contractor.pictureUrl}}" alt="" class="img-responsive img-rounded" /></a>
            </div>
            <div class="col-xs-10">
                <span class="badge badge-info" ng-repeat="s in row.contractor.skills | orderBy:'-experienceInMonths' | limitTo:5">{{s.title}}</span>
                <div class="row">
                    <div class="col-xs-12">
                        {{row.contractor.about | plaintext | limitTo: 200 }}...
                    </div>
                    <div class="col-xs-12">
                        <table class="table">
                            <tr>
                                <th>Functional Area</th>
                                <td>{{row.contractor.functionalArea}}</td>
                                <th>Industry</th>
                                <td>{{row.contractor.industry}}</td>
                            </tr>
                            <tr>
                                <th>Location</th>
                                <td>{{row.contractor.location}}</td>
                                <th>Nationality</th>
                                <td>{{row.contractor.nationality}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>