<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <input type="checkbox" ng-model="row.selected"/>
            <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                <i class="fa fa-{{row.gender|lowercase}}"></i>
            </a>
            <a ng-if="row.contractType=='WorkFromHome'" class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                <i class="fa fa-home"></i>
            </a>
            <a ng-if="row.contractType=='ClientLocation'" class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                <i class="fa fa-car"></i>
            </a>
            <i ng-if="row.consultantType!='IndependentCosultant'" class="fa fa-building-o font-yellow-casablanca"></i>
            <a href="/#/contractor/{{row.id}}">
                <span class="caption-subject bold font-yellow-casablanca uppercase">
                    {{row.firstName}} {{row.lastName}}
                </span>
                <span  ng-if="row.companyId" class="caption-helper">{{row.company}}</span>
            </a>
        </div>
        <div class="actions flex">
            <a ng-if="row.available" href="javascript:;" class="btn btn-circle" ng-class="row.available=='Now' ? 'green-jungle' : row.available=='Later' ? 'blue' : 'yellow-lemon'">
                {{row.available}}
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="col-xs-2">
                <a class="picture" ng-if="row.pictureUrl" href="#/contractor/{{row.id}}"><img ng-src="{{row.pictureUrl}}" alt="" class="img-responsive img-rounded"/></a>
            </div>
            <div class="col-xs-10">
                <div class="row">
                    <div class="col-xs-12">
                        {{row.about | plaintext | limitTo: 200 }}...
                    </div>
                    <div class="col-xs-12">
                        <table class="table">
                            <tr>
                                <th>Functional Area</th>
                                <td>{{row.functionalArea}}</td>
                            </tr>
                            <tr>
                                <th>Industry</th>
                                <td>{{row.industry}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet-footer">
        <div class="actions">
            <div class="row">
                <a href="javascript:;" ng-if="row.experienceMonths>0 || row.experienceYears>0" class="btn btn-circle" ng-class="row.isHighlight || row.isFeatured ? 'blue':'default'">
                    {{row.experience | years}}
                </a>
                <a href="javascript:;" ng-if="row.rate>0" class="btn btn-circle" ng-class="row.isHighlight || row.isFeatured ? 'btn-success':'default'">
                    <i class="fa fa-inr"></i> {{row.rate}}/{{row.rateType| limitTo: 2}}
                </a>
                <a href="javascript:;" class="btn btn-circle" ng-class="row.isHighlight || row.isFeatured ? 'btn-warning':'default'">
                    <i class="fa fa-map-marker"></i> {{row.location}} - {{row.nationality}}
                </a>
                <a href="javascript:;" title="{{s.experience|years}} " class="btn btn-circle" ng-repeat="s in row.skills | orderBy:'-experienceInMonths' | limitTo:5" ng-class="row.isHighlight || row.isFeatured ? 'btn-success':'default'">
                    <i class="fa fa-star-o"></i> {{s.title}}
                </a>
            </div>
        </div>
    </div>
</div>