<section id="jobs">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <article>
                    <div class="row">
                        <div class="col-sm-4 col-md-3 col-lg-2">
                            <img src="{{record.pictureUrl}}" alt="{{record.firstName}} {{record.lastName}}" class="pull-left img-responsive img-rounded" />
                        </div>
                        <div class="col-sm-8 col-md-9 col-lg-10">
                            <h2><i class="fa fa-user"></i> {{record.firstName}} {{record.lastName}}</h2>
                        </div>
                    </div>
                    <h3>Schedule</h3>
                    <div class="listings strong">
                        <div class="col-md-3">Note</div>
                        <div class="col-md-3">Start</div>
                        <div class="col-md-3">End</div>
                        <div class="col-md-3">Duration</div>
                    </div>
                    <div class="listings" ng-repeat="s in schedule | orderBy:['-isAvailable','start']" ng-class="{'bg-success':s.isAvailable}">
                        <div class="row">
                            <div class="col-md-3"><i ng-if="s.isAvailable" class="fa fa-check-circle"></i> {{s.company}}</div>
                            <div class="col-md-3">{{s.start | date:'dd-MMM-yyyy'}}</div>
                            <div class="col-md-3">{{s.end | date:'dd-MMM-yyyy'}}</div>
                            <div class="col-md-3">{{s.end | amDifference : s.start : 'days'}}</div>
                        </div>
                    </div>
                    <div ng-repeat="l in levels">
                        <h3>{{l.label}} Skills</h3>
                        <div class="listings" ng-repeat="s in record.skills | filter:{ level: l.label }">
                            <div class="row">
                                <div class="col-md-4">{{s.title}}</div>
                                <div class="col-md-4">{{s.experienceInMonths}} Months </div>
                                <div class="col-md-4">{{s.proficiency}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="full-text" ng-bind-html="record.about"></div>
                </article>
            </div>
            <div class="col-sm-4" id="sidebar">
                <div class="sidebar-widget">
                    <div class="input-group">
                        <input type="text" class="form-control input-xs" ng-model="record.folder" />
                        <span class="input-group-btn">
                            <button ng-click="move(record.id,record.folder)" class="btn btn-primary srch-btn-pad"><i class="fa fa-save"></i> Save</button>
                            <button ng-click="download(record.id,record.folder)" class="btn btn-success srch-btn-pad"><i class="fa fa-cloud-download"></i></button>
                        </span>
                    </div>
                </div>
                <div class="sidebar-widget" id="widget-contact">
                    <h2>Contact</h2>
                    <ul>
                        <li><i class="fa fa-user"></i>{{record.firstName}} {{record.lastName}}</li>
                        <li ng-if="record.birthday"><i class="fa fa-birthday-cake"></i>{{record.birthday}}</li>
                        <li ng-if="record.location"><i class="fa fa-map-marker"></i>{{record.location}}</li>
                        <li ng-if="record.mobile"><i class="fa fa-phone"></i>{{record.mobile}}</li>
                        <li ng-if="record.alternateNumber"><i class="fa fa-phone"></i>{{record.alternateNumber}}</li>
                        <li ng-if="record.email"><i class="fa fa-envelope"></i><a href="mailto:{{record.email}}">{{record.email}}</a></li>
                    </ul>
                </div>
                <hr>
                <div class="sidebar-widget" id="skills">
                    <h2>Key skills</h2>
                    <a ng-repeat="s in record.skills" class="badge">{{s.title}}</a>
                </div>
            </div>
        </div>
    </div>
</section>