<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="home()">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">{{record.firstName}} {{record.lastName}}</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <span class="btn-group pull-right">
            <a class="btn btn-primary" ng-if="record.isBench" href="/impersonate/{{record.id}}">
                <i class="fa fa-user-secret"></i> Impersonate
            </a>
        </span>
    </div>
</div>
<div class="col-md-3">
    <div class="portlet light profile-sidebar-portlet">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
            <img src="{{record.pictureUrl}}" class="img-responsive" alt="">
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
            <div class="profile-usertitle-name">
                {{record.firstName}} {{record.lastName}}
            </div>
            <div class="profile-usertitle-job">
                {{record.consultantType | uncamel}}
            </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <div class="profile-userbuttons">
            <button type="button" class="btn btn-circle green-haze btn-sm" style="text-transform:lowercase">{{record.email}}</button>
        </div>
        <!-- END SIDEBAR BUTTONS -->
        <!-- END MENU -->
    </div>
    <div class="portlet light">
        <!-- STAT -->
        <div class="row list-separated profile-stat">
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="uppercase profile-stat-title">
                    {{record.skills.length}}
                </div>
                <div class="uppercase profile-stat-text">
                    Skills
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="uppercase profile-stat-title" title="{{record.rate | currency : '₹' : 0}}">
                    {{record.rate/1000 | currency : '₹' : 0}}k
                </div>
                <div class="uppercase profile-stat-text">
                    {{record.rateType}}
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="uppercase profile-stat-title">
                    {{record.experience | years}}
                </div>
                <div class="uppercase profile-stat-text">
                    Experience
                </div>
            </div>
        </div>
        <!-- END STAT -->
        <div>
            <h4 class="profile-desc-title">Details</h4>
            <div class="margin-top-20 profile-desc-link">
                <i class="fa fa-{{record.gender|lowercase}}"></i>
                <a href="javascript:;">{{record.consultantType | uncamel}}</a>
            </div>
            <div class="margin-top-20 profile-desc-link">
                <i class="fa fa-user"></i>
                <a href="javascript:;">{{record.contractType | uncamel}}</a>
            </div>
            <div ng-if="record.industry" class="margin-top-20 profile-desc-link">
                <i class="fa fa-industry"></i>
                <a href="javascript:;">{{record.industry}}</a>
            </div>
            <div ng-if="record.functionalArea" class="margin-top-20 profile-desc-link">
                <i class="fa fa-industry"></i>
                <a href="javascript:;">{{record.functionalArea}}</a>
            </div>
            <div ng-if="record.location" class="margin-top-20 profile-desc-link">
                <i class="fa fa-map-marker"></i>
                <a href="javascript:;">{{record.location}}</a>
            </div>
            <div class="margin-top-20 profile-desc-link">
                <i class="fa fa-phone"></i>
                <a href="javascript:;">{{record.mobile}}</a>
            </div>
            <div class="margin-top-20 profile-desc-link">
                <i class="fa fa-phone"></i>
                <a href="javascript:;">{{record.alternateNumber}}</a>
            </div>
            <div ng-if="record.address" class="margin-top-20 profile-desc-link">
                <i class="fa fa-home"></i>
                <a href="javascript:;">{{record.address}}</a>
            </div>
            <div class="margin-top-20 profile-desc-link">
                <i class="fa fa-globe"></i>
                <a href="javascript:;">{{record.nationality}}</a>
            </div>
            <div ng-if="record.webSite" class="margin-top-20 profile-desc-link">
                <i class="fa fa-globe"></i>
                <a href="{{record.website}}">{{record.webSite}}</a>
            </div>
            <div ng-if="record.facebook" class="margin-top-20 profile-desc-link">
                <i class="fa fa-facebook"></i>
                <a href="http://www.facebook.com/{{record.facebook}}/">{{record.facebook}}</a>
            </div>
            <div ng-if="record.linkedin" class="margin-top-20 profile-desc-link">
                <i class="fa fa-linkedin"></i>
                <a href="http://www.linkedin.com/{{record.linkedin}}/">{{record.linkedin}}</a>
            </div>
            <div ng-if="record.twitter" class="margin-top-20 profile-desc-link">
                <i class="fa fa-twitter"></i>
                <a href="http://www.twitter.com/{{record.twitter}}/">@{{record.twitter}}</a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <!-- BEGIN PORTLET -->
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption caption-md">
                <i class="icon-bar-chart theme-font hide"></i>
                <span class="caption-subject font-blue-madison bold uppercase font-green">Schedule</span>
            </div>
        </div>
        <div class="portlet-body bordered">
            <div class="table-scrollable table-scrollable-borderless">
                <table class="table table-hover table-light">
                    <thead>
                        <tr class="uppercase">
                            <th>
                                Start
                            </th>
                            <th>
                                End
                            </th>
                            <th>
                                Duration
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="s in record.schedules | orderBy:['-isAvailable','start']">
                            <td>
                                {{s.start | date:'dd-MMM-yyyy'}}
                            </td>
                            <td>
                                {{s.end | date:'dd-MMM-yyyy'}}
                            </td>
                            <td>
                                {{s.end | amDifference : s.start : 'days'}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- END PORTLET -->
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption caption-md">
                <i class="icon-bar-chart theme-font hide"></i>
                <span class="caption-subject font-blue-madison bold uppercase">Profile</span>
            </div>
            <div class="pull-right">
                <a ng-if="record.profileUrl" href="{{record.profileUrl}}" class="btn btn-success srch-btn-pad"><i class="fa fa-cloud-download"></i> Download</a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="slimScrollDiv" style="position: relative;">
                <div class="scroller" style="" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2" data-initialized="1">
                    <div class="general-item-list">
                        <div class="item">
                            <div class="item-body">
                                <div class="full-text" ng-bind-html="record.about"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3">
    <!-- BEGIN PORTLET -->
    <div class="portlet light">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control input-xs" ng-model="record.folder" placeholder="Folder Name" />
                <span class="input-group-btn">
                    <button ng-click="move(record.id,record.folder)" class="btn btn-primary srch-btn-pad"><i class="fa fa-save"></i> Save</button>
                    <a ng-if="record.profileUrl" href="{{record.profileUrl}}" class="btn btn-success srch-btn-pad"><i class="fa fa-cloud-download"></i></a>
                </span>
            </div>
        </div>
        <div class="form-group" ng-if="record.isBench">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-inr"></i></span>
                <input type="number" class="form-control" ng-model="record.rate">
                <div class="input-group-btn">
                    <button type="button" class="btn yellow dropdown-toggle" data-toggle="dropdown">{{record.rateType}} <i class="fa fa-angle-down"></i></button>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="#" ng-click="record.rateType='Monthly'">Monthly</a></li>
                        <li><a href="#" ng-click="record.rateType='Hourly'">Hourly</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group" ng-if="record.isBench">
            <button class="btn btn-primary" ng-click="updateRate(record)">Update Rate</button>
        </div>
    </div>
    <div class="portlet light" ng-repeat="l in levels">
        <div class="portlet-title">
            <div class="caption caption-md">
                <i class="icon-bar-chart theme-font hide"></i>
                <span class="caption-subject font-blue-madison bold uppercase font-green"> {{l.label}} Skills </span>
            </div>
        </div>
        <div class="portlet-body bordered">
            <div class="table-scrollable table-scrollable-borderless">
                <table class="table table-hover table-light">
                    <tbody>
                        <tr ng-repeat="s in record.skills | filter:{ level: l.label } | orderBy:'-experienceInMonths'">
                            <td>
                                {{s.title}}
                            </td>
                            <td>
                                {{s.experience | years}}
                            </td>
                            <td>
                                {{s.end | date:'dd-MMM-yyyy'}}
                            </td>
                            <td>
                                {{s.proficiency}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>