<div id="page-wrapper" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                Search Contractors
            </h2>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-md-12">
                    <form ng-submit="search(query)" class="form-horizontal">
                        <div class="row search-row">
                            <div class="col-md-5">
                                <input class="form-control input-lg" type="text" ng-model="query.skills" placeholder="e.g ASP.net, C#, Java" />
                            </div>
                            <div class="col-md-3">
                                <input class="form-control input-lg" type="text" ng-model="query.location" placeholder="e.g. Mumbai OR Delhi" />
                            </div>
                            <div class="col-md-3">
                                <input class="form-control input-lg" type="text" ng-model="query.keywords" placeholder="e.g. Senior Consultant" />
                            </div>
                            <div class="col-md-1">
                                <button class="btn btn-primary btn-lg srch-btn-pad pull-right" ng-click="search(query)"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <h3 class="page-header">
                At a glance
            </h3>
        </div>
        <div class="col-md-8">
            <div class="row panel-row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-eye fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{record.views}}</div>
                                    <div>Profile<br />Views!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#/stats">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-suitcase fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{record.jobs}}</div>
                                    <div>Jobs<br />Published!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#/jobs">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{record.applications}}</div>
                                    <div>New<br />Applications!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#/applications">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-user-plus fa-4x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{record.contractors}}</div>
                                    <div>New<br />Contractors!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#/search">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-12">
                    <h5 class="page-header">
                        Quick Actions
                    </h5>
                </div>
                <div class="col-md-12">
                    <a class="btn btn-xs btn-success" href="#/job/new"><i class="fa fa-suitcase"></i> Add New Job</a>
                    <a class="btn btn-xs btn-primary" href="#/jobs"><i class="fa fa-building"></i> Edit Jobs</a>
                    <a class="btn btn-xs btn-primary" href="#/applications"><i class="fa fa-building"></i> View Applications</a>
                    <a class="btn btn-xs btn-primary" href="#/bench"><i class="fa fa-users"></i> Manage Bench</a>
                    <a class="btn btn-xs btn-primary" href="#/jobs"><i class="fa fa-graduation-cap"></i> Promote Job</a>
                    <a class="btn btn-xs btn-primary" href="#/shortlist"><i class="fa fa-graduation-cap"></i> Shortlist</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="page-header">
                        Latest Profiles
                    </h4>
                </div>
                <div class="col-md-12">
                    <div ng-repeat="row in latestRecords" class="search-line">
                        <div class="col-md-9">
                            <div class="title">
                                <h5>{{row.firstName}} {{row.lastName}}</h5>
                            </div>
                            <div class="data">
                                <span class="city"><i class="fa fa-map-marker"></i> {{row.location}}</span>
                                <span class="experience"><i class="fa fa-trophy"></i> {{row.experienceYears}}.{{row.experienceMonths}} years</span>
                                <span class="sallary"><i class="fa fa-inr"></i> {{row.rate}}k</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="btn-group">
                                <a class="btn btn-info btn-xs" href="#/contractor/{{row.id}}"><i class="fa fa-eye"></i> View</a>
                                <a class="btn btn-info btn-xs" href="#/contractor/save/{{row.id}}"><i class="fa fa-heart-o"></i> Save</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <h4 class="page-header">
                        Top Rated Developers, Available
                    </h4>
                </div>
                <div class="col-md-12">
                    <div ng-repeat="row in topRecords" class="search-line bg-success">
                        <div class="col-md-9">
                            <div class="title">
                                <h5>{{row.name}}</h5>
                            </div>
                            <div class="data">
                                <span class="city"><i class="fa fa-map-marker"></i> {{row.location}}</span>
                                <span class="experience"><i class="fa fa-trophy"></i> {{row.experienceYears}}.{{row.experienceMonths}} years</span>
                                <span class="sallary"><i class="fa fa-inr"></i> {{row.rate}}k</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="btn-group">
                                <a class="btn btn-info btn-xs" href="#/contractor/{{row.id}}"><i class="fa fa-eye"></i> View</a>
                                <a class="btn btn-info btn-xs" href="#/contractor/save/{{row.id}}"><i class="fa fa-heart-o"></i> Save</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" id="sidebar">
            <img src="{{profile.pictureUrl}}" alt="" class="img-rounded img-responsive" />
            <div class="title">
                <h5>{{profile.companyName}} <small>{{profile.firstName}} {{profile.lastName}}</small></h5>
                <p class="about">{{profile.about}}</p>
                <a href="#/profile/edit" class="pull-right"><i class="fa fa-pencil"></i> Edit Profile</a>
            </div>
            <div class="sidebar-widget" id="widget-contact">
                <h2>Contact</h2>
                <ul>
                    <li><i class="fa fa-building"></i>{{profile.companyName}}</li>
                    <li><i class="fa fa-user"></i>{{profile.firstName}} {{profile.lastName}}</li>
                    <li><i class="fa fa-map-marker"></i>{{profile.location}}</li>
                    <li><i class="fa fa-phone"></i>{{profile.mobile}}</li>
                    <li><i class="fa fa-phone"></i>{{profile.alternateNumber}}</li>
                    <li><i class="fa fa-envelope"></i><a href="mailto:{{profile.email}}">{{profile.email}}</a></li>
                    <li><i class="fa fa-globe"></i><a href="{{profile.webSite}}">{{profile.webSite}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>