<!--<h1>{{title}}</h1>-->
<section id="jobs">
    <div class="container">
         <form>
            <div class="row">
                <div class="col-sm-6">
                    <h2>Job Details</h2>
                    <div class="form-group" id="job-email-group">
                        <h2>{{record.email}}</h2>
                        <label for="job-email">Email</label>
                        <input type="email" class="form-control" id="job-email" placeholder="you@yourdomain.com">
                    </div>
                    <div class="form-group" id="job-title-group">
                        <h2>{{record.title}}</h2>
                        <label for="job-title">Title</label>
                        <input type="text" class="form-control" id="job-title" placeholder="e.g. Web Designer">
                    </div>
                    <div class="form-group" id="job-location-group">
                        <h2>{{record.locationid}}</h2>
                        <label for="job-location">Location Id</label>
                        <input type="text" class="form-control" id="job-location" placeholder="e.g. New York">
                    </div>
                    <div class="form-group" id="job-location-group">
                        <h2>{{record.rate}}</h2>
                        <label for="rate">Rate</label>
                        <input type="text" class="form-control" id="rate" placeholder="e.g. $30">
                    </div>
                    <div class="form-group" id="job-region-group">
                        <h2>{{record.region}}</h2>
                        <label for="job-region">Region</label>
                        <input type="text" class="form-control" id="job-region" placeholder="e.g. Asia">
                    </div>
                    <div class="form-group" id="job-type-group">
                        <h2>{{record.jobtype}}</h2>
                        <label for="job-type">Job Type</label>
                        <input type="text" class="form-control" id="job-type" placeholder="e.g. Freelance,Fulltime,etc.">
                    </div>
                    <div class="form-group" id="job-location-group">
                        <h2>{{record.code}}</h2>
                        <label for="code">Job Code</label>
                        <input type="text" class="form-control" id="rate" placeholder="e.g. ATC-213">
                    </div>
                    <div class="form-group" id="job-category-group">
                        <h2>{{record.jobcategory}}</h2>
                        <label for="job-category">Job Category</label>
                        <input type="text" class="form-control" id="job-category" placeholder="e.g. Banking,Marketing,etc.">
                    </div>
                    <div class="form-group" id="job-title-group">
                        <h2>{{record.skills}}</h2>
                        <label for="job-title">Skills</label>
                        <input type="text" class="form-control" id="job-title" placeholder="e.g. Dot Net,Java,etc.">
                    </div>
                    <div class="form-group wysiwyg" id="job-description-group">
                        <h2>{{record.description}}</h2>
                        <label>Description</label>

                        <div class="btn-toolbar" data-role="editor-toolbar" data-target="#job-description">
                            <div class="btn-group">
                                <a class="btn" data-edit="bold" title="" data-original-title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                                <a class="btn" data-edit="italic" title="" data-original-title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                            </div>
                            <div class="btn-group">
                                <a class="btn" data-edit="insertunorderedlist" title="" data-original-title="Bullet list"><i class="fa fa-list-ul"></i></a>
                                <a class="btn" data-edit="insertorderedlist" title="" data-original-title="Number list"><i class="fa fa-list-ol"></i></a>
                            </div>
                            <div class="btn-group">
                                <a class="btn" data-edit="justifyleft" title="" data-original-title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                                <a class="btn" data-edit="justifycenter" title="" data-original-title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
                                <a class="btn" data-edit="justifyright" title="" data-original-title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
                            </div>
                            <div class="btn-group">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Hyperlink"><i class="fa fa-link"></i></a>
                                <div class="dropdown-menu input-append">
                                    <input class="form-control pull-left" placeholder="http://" type="text" data-edit="createLink">
                                    <button class="btn btn-primary" type="button">Add</button>
                                </div>
                                <a class="btn" data-edit="unlink" title="" data-original-title="Remove Hyperlink"><i class="fa fa-unlink"></i></a>
                            </div>
                            <input type="text" data-edit="inserttext" id="voiceBtn" style="display: none;">
                        </div>

                        <div class="editor" id="job-description" contenteditable="true">Job description</div>
                    </div>
                    <div class="form-group" id="job-url-group">
                        <h2>{{record.emailurl}}</h2>
                        <label for="job-url">Application Email/URL</label>
                        <input type="text" class="form-control" id="job-url" placeholder="Email or Website URL">
                    </div>
                    <!--<div class="form-group" id="job-createdby-group">
                        <h2>{{record.createdby}}</h2>
                        <label for="job-createdby">Created By</label>
                        <input type="text" class="form-control" id="job-createdby" placeholder="Email or Website URL">
                    </div>
                    <div class="form-group" id="job-modifiedby-group">
                        <h2>{{record.modifiedby}}</h2>
                        <label for="job-modifiedby">Modified By</label>
                        <input type="text" class="form-control" id="job-modifiedby" placeholder="Email or Website URL">
                    </div>-->
                </div>
                </div>
             <div class="row text-center">
                 <p>&nbsp;</p>
                 <input type="submit" id="submit" value="Save" class="btn btn-primary" />
             </div>
        </form>

    </div>
</section>
