<div class="portlet bordered light solid" ng-class="{'dark grey':row.isHighlight,'dark blue-steel':row.isFeatured}">
    <div class="portlet-title">
        <div class="caption" ng-class="{'blue-madison':row.isHighlight,'font-yellow-saffron':row.isFeatured}">
            <span class="caption-subject bold">
                <input ng-if="!hideCheckbox" type="checkbox" ng-model="row.selected" />
                <i ng-if="row.favorite" class="fa fa-star yellow-gold"></i>
                <a ng-if="!row.isWorkingFromHome" class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                    <i class="fa fa-car shine"></i>
                </a>
                <a ng-if="row.isWorkingFromHome" class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                    <i class="fa fa-home"></i>
                </a>
                <a ui-sref="job({id:row.id})" ng-class="{'blue':row.isHighlight}">{{row.title}}</a>
            </span>
            <span class="caption-subject" ng-class="{'yellow-lemon':row.isHighlight,'font-yellow-saffron':row.isFeatured}">
                {{row.company}}
            </span>
        </div>
        <div class="actions">
            <a ng-if="row.newApplications" class="btn btn-circle btn-sm" ng-class="row.newApplications>0?'red-sunglo':'btn-default'" ui-sref="jobApplication({id:row.id})">
                <i class="icon-bell"></i>
                {{row.newApplications}}
            </a>
            <a ng-if="row.isPublished" class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                <i class="icon-check"></i>
            </a>
            <a  ng-if="!row.isPublished" class="btn btn-circle btn-icon-only btn-default" ui-sref="jobEdit({id:row.id})">
                <i class="icon-pencil"></i>
            </a>
            <a class="btn btn-circle e btn-sm btn-default " href="javascript:;">
                <i class="icon-calender"></i>
                {{row.start | date:'dd-MMM-yy'}} to {{row.end | date:'dd-MMM-yy'}}
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <h5><a ng-href="row.webSite">{{row.webSite}}</a></h5>
        <p>
            {{row.description | plaintext | limitTo: 200}}{{row.description.length > 300 ? '...' : ''}} <a ui-sref="job({id:row.id})" style="color: #14b1bb;">... View More</a>
        </p>
    </div>
    <div class="portlet-footer">
        <div class="actions">
            <div class="row">
                <a href="javascript:;" class="btn btn-circle" ng-class="row.isHighlight || row.isFeatured ? 'btn-danger':'default'">
                    {{row.rate | currency : '₹' : 0}} / Monthly
                </a>
                <a href="javascript:;" class="btn btn-circle" ng-class="row.isHighlight || row.isFeatured ? 'btn-info':'default'">
                    {{row.end | amDifference : row.start: 'days' }} Days
                </a>
                <a href="javascript:;" class="btn btn-circle" ng-repeat="s in row.locations | limitTo:5" ng-class="row.isHighlight || row.isFeatured ? 'btn-warning':'default'">
                    <i class="fa fa-map-marker"></i> {{s.title}}
                </a>
                <a href="javascript:;" class="btn btn-circle" ng-repeat="s in row.skills | limitTo:5" ng-class="row.isHighlight || row.isFeatured ? 'btn-success':'default'">
                    <i class="fa fa-star-o"></i> {{s.code}}
                </a>
            </div>
        </div>
    </div>
</div>