<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Jobs</a>
        </li>
    </ul>
</div>
<h3 class="page-title">
    {{title}} <small>{{records.length}} jobs</small>
</h3>

<div class="row">
    <cc-pager total-pages="pages" current-page="currentPage"
                page-action="navigate(pageNumber)">
    </cc-pager>
    <div class="col-xs-12" ng-repeat="row in records" ng-include="'app/views/company/job.item.html'"></div>
    <cc-pager total-pages="pages" current-page="currentPage"
                page-action="navigate(pageNumber)">
    </cc-pager>
</div>
