
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="/#/jobs">Jobs</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Promote</a>
        </li>
    </ul>
</div>
<h3 class="page-title">
    {{title}}
</h3>
<div class="col-md-12">
    <h3 class="splhead">Select the type of promotion for the job: </h3>
</div>

<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <a href="/#/job/{{row.id}}">
                <span class="caption-subject bold font-yellow-casablanca uppercase">
                    {{row.title}}
                </span>
                <span class="caption-helper">{{row.company}}</span>
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <h5><a ng-href="row.webSite">{{row.webSite}}</a></h5>
        <p>
            {{row.description | plaintext | limitTo: 500}}{{row.description.length > 500 ? '...' : ''}} <a href="#/job/{{row.id}}" style="color: #14b1bb;">... View More</a>
        </p>
    </div>
    <div class="portlet-footer">
        <div class="actions">
            <span class="pull-right"><i class="fa fa-calendar-o"></i> {{row.start | date:'dd-MMM-yy'}} to {{row.end | date:'dd-MMM-yy'}}</span>
            <a href="javascript:;" class="btn btn-circle btn-success">
                <i class="fa fa-inr"></i> {{row.rate}}
            </a>
            <a href="javascript:;" class="btn btn-circle btn-default" ng-repeat="s in row.locations | limitTo:5">
                <i class="fa fa-map-marker"></i> {{s.title}}
            </a>
        </div>
    </div>
</div>



<div class="col-md-12 row">
    <div class="tiles">
        <div class="col-md-3" isolate ng-repeat="p in promotions track by $index" ng-click="showConfirm(p)">
            <div class="tile double {{p.color}}" ng-class="{'selected':$index == selectedItem}" ng-click="highlight($index)">
                <div class="corner" ng-show="$index == selectedItem">
                </div>
                <div class="check" ng-show="$index == selectedItem">
                </div>
                <div class="tile-body">
                    <i class="fa fa-{{p.icon}}"></i>
                </div>
                <div class="tile-object">
                    <div class="name">
                        {{p.title}}
                    </div>
                    <div class="number">
                        {{p.credits}} &nbsp; <i class="fa fa-credit-card"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 text-right" ng-show="opened">
    <div class="alert alert-block fade in">
        <h4 class="alert-heading"></h4>
        <p>
            Are you sure you want to <strong>{{promoTitle}}</strong> this job for <strong>{{promoCredit}}</strong> credits ?
        </p>
        <p>
            <a class="btn red" href="javascript:;" ng-click="confirmPromote(row.id)">
                Confirm
            </a>
            <a class="btn blue" href="javascript:;" ng-click="opened = false; selectedItem = null;">
                Cancel
            </a>
        </p>
    </div>
</div>