<h3 class="page-title">
    {{title}} <small>{{count}} results</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Search</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <!--<span class="pull-right">-->
        <ul class="page-breadcrumb">
            <li>
                <input type="checkbox" class="btn default" ng-model="selectAll" />
            </li>
        </ul>
        <!--</span>-->
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <div class="row">
            <div class="col-xs-12">
                <h3>Save</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control input-xs" ng-model="folder" />
                        <span class="input-group-btn">
                            <button ng-click="move(folder)" class="btn btn-primary srch-btn-pad">{{save}}</button>
                        </span>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div ng-if="jobs.length==0" class="text-danger">
                        No active published jobs yet.
                    </div>
                </div>
                <div class="form-group">
                    <div ng-if="jobs.length>0">
                        <div class="input-group">
                            <select ui-select2 class="form-control" ng-model="job" ng-options="s.label for s in jobs track by s.id"></select>
                            <span class="input-group-btn">
                                <button ng-click="invite(job)" class="btn btn-primary srch-btn-pad">Invite</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10">
                <h3>Filter</h3>
            </div>
            <div class="col-xs-2">
                <h3><a class="btn btn-danger btn-xs" href="#" ng-click=""><i class="fa fa-trash"></i></a></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h5>Keyword</h5>
                <div class="input-group">
                    <input class="form-control" type="text" ng-model="query.keywords" placeholder="e.g. Senior Consultant" />
                    <div class="input-group-btn">
                        <button class="btn btn-primary srch-btn-pad" ng-click="search(query)"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <h5>Skill</h5>
                <select ui-select2 class="form-control"
                        ng-selected="query.skills"
                        ng-options="s.title as s.title for s in skills track by s.title"
                        ng-model="query.skills"
                        ng-change="search(query)"
                        value="query.skills">
                </select>
                <button ng-if="query.skills" ng-click="query.skills=undefined" class="btn btn-link">Clear</button>
            </div>
            <div class="col-xs-12">
                <h5>Location</h5>
                <select ui-select2 class="form-control" ng-selected="query.location" ng-options="s.title as s.title for s in locations track by s.title" ng-model="query.location" ng-change="search(query)"></select>
                <button ng-if="query.location" ng-click="query.location=undefined;search(query)" class="btn btn-link">Clear</button>
            </div>
            <div class="col-xs-12">
                <h5>Industry</h5>
                <select ui-select2 class="form-control" ng-selected="query.industry" ng-options="s.title as s.title for s in industries track by s.title" ng-model="query.industry" ng-change="search(query)"></select>
                <button ng-if="query.industry" ng-click="query.industry=undefined;search(query)" class="btn btn-link">Clear</button>
            </div>
            <div class="col-xs-12">
                <h5>Functional Area</h5>
                <select ui-select2 class="form-control" ng-selected="query.functional" ng-options="s.title as s.title for s in functionals track by s.title" ng-model="query.functional" ng-change="search(query)"></select>
                <button ng-if="query.functional" ng-click="query.functional=undefined;search(query)" class="btn btn-link">Clear</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <select nya-selectpicker class="bs-select form-control input-small" data-style="green"
                        ng-options="s.id as s.label for s in rateTypes track by s.id"
                        ng-model="query.ratetype"
                        ng-change="search(query)"></select>
            </div>
            <div class="col-xs-12">
                <hr>
            </div>
            <div class="col-xs-12">
                <rzslider rz-slider-floor="rateSlider.floor"
                          rz-slider-ceil="rateSlider.ceil"
                          rz-slider-model="rateSlider.min"
                          rz-slider-high="rateSlider.max"
                          rz-slider-translate="rateTranslate"
                          rz-slider-on-change="rateChange()">
                </rzslider>
            </div>
            <div class="col-xs-12">
                <hr>
            </div>
            <div class="col-xs-12">
                <rzslider rz-slider-floor="experienceSlider.floor"
                          rz-slider-ceil="experienceSlider.ceil"
                          rz-slider-model="experienceSlider.min"
                          rz-slider-translate="experienceTranslate"
                          rz-slider-high="experienceSlider.max">
                </rzslider>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 inbox">
                <h2>Folders</h2>
                <ul class="inbox-nav margin-bottom-10">
                    <li class="inbox" ng-class="{active:f.label.toLowerCase()==query.folder}" ng-repeat="f in folders"><a class="btn" href="#/search/{{f.label|lowercase}}">{{f.label}} ({{f.count}})</a></li>
                </ul>
            </div>
        </div>
        <!--<div class="col-xs-12" ng-include="'app/views/company/contractor.filter.html'"></div>-->
        <!-- Find a Job End -->
    </div>
    <div class="col-sm-9">
        <cc-pager total-pages="pages" current-page="currentPage"
                  page-action="navigate(pageNumber)">
        </cc-pager>
        <div ng-if="count < 1">
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Ooops! You got us..</strong>
                <p>
                    We could not find anyone.
                </p>
                <p>
                    <a class="btn btn-success" href="#/search"><i class="fa fa-search"></i> Search Again</a>
                </p>
            </div>
        </div>
        <div class="col-xs-12" ng-repeat="row in records" ng-include="'app/views/company/contractor.item.html'"></div>
        <cc-pager total-pages="pages" current-page="currentPage"
                  page-action="navigate(pageNumber)">
        </cc-pager>
    </div>
</div>
