<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="home()">Search</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <span class="btn-group pull-right">
            <a href="/account/login?returnUrl=#/job/{{record.id}}" class="btn blue">
                <i class="fa fa-sign-in top-news-icon"></i>
                <span>
                    Login & Apply
                </span>
            </a>
            <a href="/account/register?returnUrl=#/job/{{record.id}}" class="btn green">
                <i class="fa fa-pencil top-news-icon"></i>
                <span>
                    Signup & Apply
                </span>
            </a>
        </span>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <article>
             
            <h2 class="bold font-yellow-casablanca uppercase">
                {{record.title}} <small>{{record.company}}</small>
            </h2>
            <div ng-if="record.invited && !record.decline && !record.application" class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Congratulations, You are invited to apply for this job</strong>
                <p>
                    Go, ahead and accept, the invitation, but if you are busy or not available can always decline it.
                </p>

                <hr class="q" />
                <p>
                    <a class="btn btn-success" ng-click="apply(record)" href=""><i class="fa fa-check"></i> Accept & Apply</a>
                </p>
                <hr class="q" />
                <div class="row">
                    <div class="col-sm-6">
                        <select ui-select2 class="form-control" ng-model="reason" ng-options="s for s in reasons"></select>
                    </div>
                    <div class="col-sm-6">
                        <button ng-click="decline(record,reason)" class="btn btn-danger"><i class="fa fa-cross"></i> Decline</button>
                    </div>
                </div>
            </div>
            <p>{{record.description}}</p>
        </article>
    </div>
    <div class="col-md-3" id="sidebar">
        <div class="sidebar-widget">
            <div class="portlet light">
                <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                        <i class="icon-globe theme-font hide"></i>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="javascript:;" data-toggle="tab">
                                Key Requirements
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="portlet-body">
                    <!--BEGIN TABS-->
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1_1">
                            <div class="slimScrollDiv">
                                <ul class="feeds">
                                    <li ng-if="record.isWorkingFromHome">
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-success">
                                                        <i class="fa fa-home"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc">
                                                        Work from home
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-success">
                                                        <i class="fa fa-users"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc">
                                                        {{record.positions||1}} Position{{record.positions>1?'s':''}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-success">
                                                        <i class="fa fa-map-marker"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc">
                                                        <span ng-repeat="loc in record.locations">{{loc.title}}{{record.locations>1?', ':''}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-success">
                                                        <i class="fa fa-inr"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc">
                                                        {{record.rate}}k
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-success">
                                                        <i class="fa fa-clock-o"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc">
                                                        {{record.end | amDifference : record.start : 'days'}} Days
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-success">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc">
                                                        {{record.start | date:'dd-MMM-yy'}} to
                                                        {{record.end | date:'dd-MMM-yy'}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col1">
                                            <div class="cont">
                                                <div class="cont-col1">
                                                    <div class="label label-sm label-success">
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                </div>
                                                <div class="cont-col2">
                                                    <div class="desc">
                                                        <span ng-repeat="s in record.skills">{{s.code}}, </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--END TABS-->
                </div>
            </div>
            <div class="sidebar-widget" id="share">
                <div class="portlet light">
                    <div class="portlet-title tabbable-line">
                        <div class="caption caption-md">
                            <i class="icon-globe theme-font hide"></i>
                        </div>
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="javascript:;" data-toggle="tab">
                                    Contact
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="portlet-body">
                        <!--BEGIN TABS-->
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1_1">
                                <div class="slimScrollDiv">
                                    <ul class="feeds">
                                        <li>
                                            <div class="col1">
                                                <div class="cont">
                                                    <div class="cont-col1">
                                                        <div class="label label-sm label-success">
                                                            <i class="fa fa-building"></i>
                                                        </div>
                                                    </div>
                                                    <div class="cont-col2">
                                                        <div class="desc">
                                                            {{record.company}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="col1">
                                                <div class="cont">
                                                    <div class="cont-col1">
                                                        <div class="label label-sm label-success">
                                                            <i class="fa fa-file-code-o"></i>
                                                        </div>
                                                    </div>
                                                    <div class="cont-col2">
                                                        <div class="desc">
                                                            {{record.firstName}} {{record.lastName}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="col1">
                                                <div class="cont">
                                                    <div class="cont-col1">
                                                        <div class="label label-sm label-success">
                                                            <i class="fa fa-map-marker"></i>
                                                        </div>
                                                    </div>
                                                    <div class="cont-col2">
                                                        <div class="desc">
                                                            {{record.location.title}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="col1">
                                                <div class="cont">
                                                    <div class="cont-col1">
                                                        <div class="label label-sm label-success">
                                                            <i class="fa fa-phone"></i>
                                                        </div>
                                                    </div>
                                                    <div class="cont-col2">
                                                        <div class="desc">
                                                            {{record.mobile}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="col1">
                                                <div class="cont">
                                                    <div class="cont-col1">
                                                        <div class="label label-sm label-success">
                                                            <i class="fa fa-envelope-o"></i>
                                                        </div>
                                                    </div>
                                                    <div class="cont-col2">
                                                        <div class="desc">
                                                            <a href="mailto:{{record.email}}">{{record.email}}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--END TABS-->
                    </div>
                </div>
            </div>
            <div class="sidebar-widget">
                <div class="portlet light">
                    <div class="portlet-title tabbable-line">
                        <div class="caption caption-md">
                            <i class="icon-globe theme-font hide"></i>
                        </div>
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="javascript:;" data-toggle="tab">
                                    Share it
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="portlet-body">
                        <!--BEGIN TABS-->
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1_1">
                                <div class="slimScrollDiv">
                                    <ul class="feeds">
                                        <li>
                                            <a href="https://www.facebook.com/sharer/sharer.php?u={{page}}" data-original-title="linkedin" class="social-icon social-icon-color facebook"></a>
                                            <a href="https://twitter.com/home?status={{page}}" data-original-title="linkedin" class="social-icon social-icon-color twitter"></a>
                                            <a href="https://plus.google.com/share?url={{page}}" data-original-title="linkedin" class="social-icon social-icon-color googleplus"></a>
                                            <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{page}}" data-original-title="linkedin" class="social-icon social-icon-color linkedin"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--END TABS-->
                    </div>
                </div>
                <div class="portlet light">
                    <div class="portlet-title tabbable-line">
                        <div class="caption caption-md">
                            <i class="icon-globe theme-font hide"></i>
                        </div>
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="javascript:;" data-toggle="tab">
                                    About Company
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="portlet-body">
                        <!--BEGIN TABS-->
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_1_1">
                                <div class="slimScrollDiv">
                                    <ul class="feeds">
                                        <li>
                                            <p>
                                                <img src="{{record.logo}}" alt="" class="img-responsive">
                                            </p>
                                            <div class="full-text" ng-bind-html="record.about"></div>
                                            <p>
                                                <a ui-sref="company({id:record.companyId})" class="btn btn-primary">Read more</a>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--END TABS-->
                    </div>
                </div>
            </div>
            <hr ng-if="jobs">
            <div ng-if="jobs" class="sidebar-widget" id="company-jobs">
                <h2>More jobs from this company</h2>
                <ul>
                    <li ng-repeat="s in jobs"><a href="#/job/{{s.id}}}">{{s.title}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>