<div class="portlet light">
    <div class="portlet-title tabbable-line">
        <div class="caption caption-md">
            <i class="icon-globe theme-font hide"></i>
        </div>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="javascript:;" data-toggle="tab">
                    Share it
                </a>
            </li>
        </ul>
    </div>
    <div class="portlet-body">
        <!--BEGIN TABS-->
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1_1">
                <div class="slimScrollDiv">
                    <ul class="feeds">
                        <li>
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{pageUrl}}" data-original-title="linkedin" class="social-icon social-icon-color facebook"></a>
                            <a href="https://twitter.com/home?status={{pageUrl}}" data-original-title="linkedin" class="social-icon social-icon-color twitter"></a>
                            <a href="https://plus.google.com/share?url={{pageUrl}}" data-original-title="linkedin" class="social-icon social-icon-color googleplus"></a>
                            <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{pageUrl}}" data-original-title="linkedin" class="social-icon social-icon-color linkedin"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--END TABS-->
    </div>
</div>