<div class="container margtop">
    <h2>Functional Area</h2>
    <div class="col-md-12">
        <form ng-submit="save(record)">
            <div class="col-md-4">
                <label>Title</label>
                <input type="text" class="form-control" placeholder="e.g. 4212" ng-model="record.code">
            </div>
            <div class="col-md-4">
                <label>Code</label>
                <input type="text" class="form-control" placeholder="e.g. IT-Software/Software Services" ng-model="record.title">
            </div>
           
            <div class="col-md-4">
                <button type="submit" id="submit" class="btn btn-primary" style=" margin-top: 30px;">
                    <i class="fa fa-plus"></i> Add
                </button>
            </div>
        </form>
    </div>
    
    <div class="col-md-12">
        <div class="listings" ng-repeat="s in records">
            <div class="row" ng-show="!s.editMode">
                <div class="col-md-3">{{s.code}}</div>
                <div class="col-md-3">{{s.title}}</div>
                <div class="col-md-3">
                    <button class="btn btn-primary" ng-click="toggle(s)">Edit</button>
                    <button class="btn btn-danger" ng-click="delete(s)">Delete</button>
                </div>
            </div>
            <div class="row" ng-show="s.editMode">
                <div class="col-md-3"><input type="text" class="form-control" ng-model="s.code" /></div>
                <div class="col-md-3"><input type="text" class="form-control" ng-model="s.title" /></div>
                <div class="col-md-3">
                    <button ng-click="update(s)" id="submit1" class="btn btn-primary">Save</button>
                    <button ng-click="toggle(s)" class="btn btn-info">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <cc-pager total-pages="pages" current-page="currentPage"
              page-action="navigate(pageNumber)">
    </cc-pager>
</div>