<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Jobseek - Job Board Responsive HTML Template">
    <meta name="author" content="Coffeecream Themes, info@coffeecream.eu">
    <title></title>
    <link rel="shortcut icon" href="/App/template/images/favicon.png">

    <!-- Main Stylesheet -->
    <link href="/App/template/css/style.css" rel="stylesheet">
</head>
<body>
    <div>
        <!-- ============ TITLE START ============ -->

        <section id="title">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h1>Candidates</h1>
                        <h4>Find your perfect match</h4>
                    </div>
                </div>
            </div>
        </section>

        <!-- ============ TITLE END ========job==== -->
        <!-- ============ JOBS START ============ -->

        <section id="jobs">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <h2>Candidates</h2>

                        <div class="jobs">

                            <!-- Job offer 1 -->
                            <a href="#">
                                <div class="featured"></div>
                                <img src="#" alt="" class="img-circle" />
                                <div class="title">
                                    <h5>Susie Johnson</h5>
                                    <p>Project Manager</p>
                                </div>
                                <div class="data">
                                    <span class="city"><i class="fa fa-map-marker"></i>New York City</span>
                                    <span class="experience"><i class="fa fa-trophy"></i>12 years</span>
                                    <span class="sallary"><i class="fa fa-dollar"></i>45,000</span>
                                </div>
                            </a>

                            <!-- Job offer 2 -->
                            <a href="#">
                                <div class="featured"></div>
                                <img src="#" alt="" class="img-circle" />
                                <div class="title">
                                    <h5>Matt Berry</h5>
                                    <p>Senior Web Developer</p>
                                </div>
                                <div class="data">
                                    <span class="city"><i class="fa fa-map-marker"></i>Los Angeles</span>
                                    <span class="experience"><i class="fa fa-trophy"></i>15 years</span>
                                    <span class="sallary"><i class="fa fa-dollar"></i>85,000</span>
                                </div>
                            </a>

                            <!-- Job offer 3 -->
                            <a href="#">
                                <img src="#" alt="" class="img-circle" />
                                <div class="title">
                                    <h5>Spencer Conner</h5>
                                    <p>Front End Developer</p>
                                </div>
                                <div class="data">
                                    <span class="city"><i class="fa fa-map-marker"></i>San Francisco</span>
                                    <span class="experience"><i class="fa fa-trophy"></i>11 years</span>
                                    <span class="sallary"><i class="fa fa-dollar"></i>60,000</span>
                                </div>
                            </a>

                            <!-- Job offer 4 -->
                            <a href="#">
                                <img src="#" alt="" class="img-circle" />
                                <div class="title">
                                    <h5>Bernard Byrd</h5>
                                    <p>Key Account Manager</p>
                                </div>
                                <div class="data">
                                    <span class="city"><i class="fa fa-map-marker"></i>Boston</span>
                                    <span class="experience"><i class="fa fa-trophy"></i>9 years</span>
                                    <span class="sallary"><i class="fa fa-dollar"></i>55,000</span>
                                </div>
                            </a>

                            <!-- Job offer 5 -->
                            <a href="#">
                                <img src="#" alt="" class="img-circle" />
                                <div class="title">
                                    <h5>Grace Bailey</h5>
                                    <p>Sales Manager</p>
                                </div>
                                <div class="data">
                                    <span class="city"><i class="fa fa-map-marker"></i>Chicago</span>
                                    <span class="experience"><i class="fa fa-trophy"></i>7 years</span>
                                    <span class="sallary"><i class="fa fa-dollar"></i>75,000</span>
                                </div>
                            </a>

                            <!-- Job offer 6 -->
                            <a href="#">
                                <img src="#" alt="" class="img-circle" />
                                <div class="title">
                                    <h5>Susie Johnson</h5>
                                    <p>Project Manager</p>
                                </div>
                                <div class="data">
                                    <span class="city"><i class="fa fa-map-marker"></i>New York City</span>
                                    <span class="experience"><i class="fa fa-trophy"></i>12 years</span>
                                    <span class="sallary"><i class="fa fa-dollar"></i>45,000</span>
                                </div>
                            </a>

                            <!-- Job offer 7 -->
                            <a href="#">
                                <img src="#" alt="" class="img-circle" />
                                <div class="title">
                                    <h5>Matt Berry</h5>
                                    <p>Senior Web Developer</p>
                                </div>
                                <div class="data">
                                    <span class="city"><i class="fa fa-map-marker"></i>Los Angeles</span>
                                    <span class="experience"><i class="fa fa-trophy"></i>15 years</span>
                                    <span class="sallary"><i class="fa fa-dollar"></i>85,000</span>
                                </div>
                            </a>

                            <!-- Job offer 8 -->
                            <a href="#">
                                <img src="#" alt="" class="img-circle" />
                                <div class="title">
                                    <h5>Spencer Conner</h5>
                                    <p>Front End Developer</p>
                                </div>
                                <div class="data">
                                    <span class="city"><i class="fa fa-map-marker"></i>San Francisco</span>
                                    <span class="experience"><i class="fa fa-trophy"></i>11 years</span>
                                    <span class="sallary"><i class="fa fa-dollar"></i>60,000</span>
                                </div>
                            </a>

                            <!-- Job offer 9 -->
                            <a href="#">
                                <img src="#" alt="" class="img-circle" />
                                <div class="title">
                                    <h5>Bernard Byrd</h5>
                                    <p>Key Account Manager</p>
                                </div>
                                <div class="data">
                                    <span class="city"><i class="fa fa-map-marker"></i>Boston</span>
                                    <span class="experience"><i class="fa fa-trophy"></i>9 years</span>
                                    <span class="sallary"><i class="fa fa-dollar"></i>55,000</span>
                                </div>
                            </a>

                            <!-- Job offer 10 -->
                            <a href="#">
                                <img src="#" alt="" class="img-circle" />
                                <div class="title">
                                    <h5>Grace Bailey</h5>
                                    <p>Sales Manager</p>
                                </div>
                                <div class="data">
                                    <span class="city"><i class="fa fa-map-marker"></i>Chicago</span>
                                    <span class="experience"><i class="fa fa-trophy"></i>7 years</span>
                                    <span class="sallary"><i class="fa fa-dollar"></i>75,000</span>
                                </div>
                            </a>

                            <!-- Job offer 11 -->
                            <a href="#">
                                <img src="#" alt="" class="img-circle" />
                                <div class="title">
                                    <h5>Susie Johnson</h5>
                                    <p>Project Manager</p>
                                </div>
                                <div class="data">
                                    <span class="city"><i class="fa fa-map-marker"></i>New York City</span>
                                    <span class="experience"><i class="fa fa-trophy"></i>12 years</span>
                                    <span class="sallary"><i class="fa fa-dollar"></i>45,000</span>
                                </div>
                            </a>

                            <!-- Job offer 12 -->
                            <a href="#">
                                <img src="#" alt="" class="img-circle" />
                                <div class="title">
                                    <h5>Matt Berry</h5>
                                    <p>Senior Web Developer</p>
                                </div>
                                <div class="data">
                                    <span class="city"><i class="fa fa-map-marker"></i>Los Angeles</span>
                                    <span class="experience"><i class="fa fa-trophy"></i>15 years</span>
                                    <span class="sallary"><i class="fa fa-dollar"></i>85,000</span>
                                </div>
                            </a>

                            <!-- Job offer 13 -->
                            <a href="#">
                                <img src="#" alt="" class="img-circle" />
                                <div class="title">
                                    <h5>Spencer Conner</h5>
                                    <p>Front End Developer</p>
                                </div>
                                <div class="data">
                                    <span class="city"><i class="fa fa-map-marker"></i>San Francisco</span>
                                    <span class="experience"><i class="fa fa-trophy"></i>11 years</span>
                                    <span class="sallary"><i class="fa fa-dollar"></i>60,000</span>
                                </div>
                            </a>

                            <!-- Job offer 14 -->
                            <a href="#">
                                <img src="#" alt="" class="img-circle" />
                                <div class="title">
                                    <h5>Bernard Byrd</h5>
                                    <p>Key Account Manager</p>
                                </div>
                                <div class="data">
                                    <span class="city"><i class="fa fa-map-marker"></i>Boston</span>
                                    <span class="experience"><i class="fa fa-trophy"></i>9 years</span>
                                    <span class="sallary"><i class="fa fa-dollar"></i>55,000</span>
                                </div>
                            </a>

                            <!-- Job offer 15 -->
                            <a href="#">
                                <img src="#" alt="" class="img-circle" />
                                <div class="title">
                                    <h5>Grace Bailey</h5>
                                    <p>Sales Manager</p>
                                </div>
                                <div class="data">
                                    <span class="city"><i class="fa fa-map-marker"></i>Chicago</span>
                                    <span class="experience"><i class="fa fa-trophy"></i>7 years</span>
                                    <span class="sallary"><i class="fa fa-dollar"></i>75,000</span>
                                </div>
                            </a>

                            <!-- Job offer 16 -->
                            <a href="#">
                                <img src="#" alt="" class="img-circle" />
                                <div class="title">
                                    <h5>Susie Johnson</h5>
                                    <p>Project Manager</p>
                                </div>
                                <div class="data">
                                    <span class="city"><i class="fa fa-map-marker"></i>New York City</span>
                                    <span class="experience"><i class="fa fa-trophy"></i>12 years</span>
                                    <span class="sallary"><i class="fa fa-dollar"></i>45,000</span>
                                </div>
                            </a>

                            <!-- Job offer 17 -->
                            <a href="#">
                                <img src="#" alt="" class="img-circle" />
                                <div class="title">
                                    <h5>Matt Berry</h5>
                                    <p>Senior Web Developer</p>
                                </div>
                                <div class="data">
                                    <span class="city"><i class="fa fa-map-marker"></i>Los Angeles</span>
                                    <span class="experience"><i class="fa fa-trophy"></i>15 years</span>
                                    <span class="sallary"><i class="fa fa-dollar"></i>85,000</span>
                                </div>
                            </a>

                            <!-- Job offer 18 -->
                            <a href="#">
                                <img src="#" alt="" class="img-circle" />
                                <div class="title">
                                    <h5>Spencer Conner</h5>
                                    <p>Front End Developer</p>
                                </div>
                                <div class="data">
                                    <span class="city"><i class="fa fa-map-marker"></i>San Francisco</span>
                                    <span class="experience"><i class="fa fa-trophy"></i>11 years</span>
                                    <span class="sallary"><i class="fa fa-dollar"></i>60,000</span>
                                </div>
                            </a>

                            <!-- Job offer 19 -->
                            <a href="#">
                                <img src="#" alt="" class="img-circle" />
                                <div class="title">
                                    <h5>Bernard Byrd</h5>
                                    <p>Key Account Manager</p>
                                </div>
                                <div class="data">
                                    <span class="city"><i class="fa fa-map-marker"></i>Boston</span>
                                    <span class="experience"><i class="fa fa-trophy"></i>9 years</span>
                                    <span class="sallary"><i class="fa fa-dollar"></i>55,000</span>
                                </div>
                            </a>

                            <!-- Job offer 20 -->
                            <a href="#">
                                <img src="#" alt="" class="img-circle" />
                                <div class="title">
                                    <h5>Grace Bailey</h5>
                                    <p>Sales Manager</p>
                                </div>
                                <div class="data">
                                    <span class="city"><i class="fa fa-map-marker"></i>Chicago</span>
                                    <span class="experience"><i class="fa fa-trophy"></i>7 years</span>
                                    <span class="sallary"><i class="fa fa-dollar"></i>75,000</span>
                                </div>
                            </a>

                        </div>

                        <nav>
                            <ul class="pagination">
                                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                            </ul>
                        </nav>

                    </div>
                    <div class="col-sm-4" id="sidebar">

                        <!-- Featured Jobs Start -->
                        <div class="sidebar-widget">
                            <h2>Featured Candidate</h2>
                            <a href="#">
                                <img src="http://placehold.it/400x265.jpg" alt="Featured Job" class="img-responsive" />
                                <div class="featured-job">
                                    <img src="#" alt="" class="img-circle pull-left" />
                                    <div class="title">
                                        <h5>Susie Johnson</h5>
                                        <p>Project Manager</p>
                                    </div>
                                    <div class="data">
                                        <span class="city"><i class="fa fa-map-marker"></i>New York City</span>
                                        <span class="experience"><i class="fa fa-trophy"></i>12 years</span>
                                        <span class="sallary"><i class="fa fa-dollar"></i>45,000</span>
                                    </div>
                                    <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tristique euismod lorem, a consequat orci consequat a. Donec ullamcorper tincidunt nunc, ut aliquam est pellentesque porta. In neque erat, malesuada sit amet orci ac, laoreet laoreet mauris.</div>
                                </div>
                            </a>
                        </div>
                        <!-- Featured Jobs End -->
                        <!-- Find a Job Start -->
                        <div class="sidebar-widget" id="jobsearch">
                            <h2>Find a Candidate</h2>
                            <form>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group" id="job-search-group">
                                            <label for="job-search" class="sr-only">Search</label>
                                            <input type="text" class="form-control" id="job-search" placeholder="Type and press enter">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <hr>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <h5>Career Level</h5>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> All Types
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Junior
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Middle
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Senior
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Expert
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <h5>Presence</h5>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> All Types
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Remote
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Office
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Relocation
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Travel a lot
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <hr>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <h5>Job Type</h5>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> All Types
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Freelance
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Part Time
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Full Time
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Internship
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Volunteer
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <h5>Location</h5>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> All Types
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> New York
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Los Angeles
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> San Francisco
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Chicago
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Boston
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <hr>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h5>Experience</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <p>More than <b><span id="years-field"></span></b> years</p>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-slider" id="years"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <hr>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h5>Salary</h5>
                                        <div class="form-slider" id="salary"></div>
                                        <p>From <b><span id="salary-field-lower"></span></b> to  <b><span id="salary-field-upper"></span></b></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <hr>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <a class="btn btn-primary">Reset All Filters</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Find a Job End -->

                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>