<div class="page-sidebar navbar-collapse collapse">
	<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
        <li class="start"><a href="#/"><i class="icon-home"></i><span class="title">Dashboard</span></a></li>
	    <li><a href="#/search"><i class="icon-magnifier"></i><span class="title">Search Jobs</span></a></li>
	    <li><a href="#/applications"><i class="icon-paper-plane"></i><span class="title">Job Applications</span></a></li>
        <li><a href="#/favorite"><i class="icon-heart"></i><span class="title">Favorite Jobs</span></a></li>
		<li><a href="#/profile" id="sidebar_menu_link_profile"><i class="icon-user"></i><span class="title">Profile</span></a></li>
        <li><a href="#/schedule"><i class="icon-calendar"></i><span class="title">Manage Schedule</span></a></li>
	</ul>
</div>	