<h3 class="page-title">
    {{title}}
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">{{title}} ({{records.length}})</a>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-xs-12 text-right">
        <cc-pager total-pages="pages" current-page="currentPage"
                  page-action="navigate(pageNumber)">
        </cc-pager>
    </div>
    <div class="col-xs-12" ng-repeat="row in records" ng-include="'app/views/contractor/job.item.html'"></div>
    <div class="col-xs-12">
        <cc-pager total-pages="pages" current-page="currentPage"
                  page-action="navigate(pageNumber)">
        </cc-pager>
    </div>
</div>