<div id="page-wrapper" class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Welcome! {{profile.firstName}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-eye fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{record.views}}</div>
                            <div>Profile Views!</div>
                        </div>
                    </div>
                </div>
                <a href="#/stats">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-briefcase fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{record.jobs}}</div>
                            <div>New Jobs!</div>
                        </div>
                    </div>
                </div>
                <a href="#/search/match">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-building fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{record.week}}</div>
                            <div>Next Week!</div>
                        </div>
                    </div>
                </div>
                <a href="#/search/week">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-calendar fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{record.month}}</div>
                            <div>Next Month!</div>
                        </div>
                    </div>
                </div>
                <a href="#/search/month">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="jobs">
        <a href="#/profile">
            <div ng-if="profile.featured" class="featured"></div>
            <img src="{{profile.pictureUrl}}" alt="" class="img-circle" />
            <div class="title">
                <h5>{{profile.firstName}} {{profile.lastName}}</h5>
                <p>{{profile.about}}</p>
            </div>
            <div class="data">
                <span class="city"><i class="fa fa-map-marker"></i>{{profile.location}}</span>
                <span class="experience"><i class="fa fa-trophy"></i>{{profile.experienceYears}}.{{profile.experienceMonths}} years</span>
                <span class="sallary"><i class="fa fa-inr"></i>{{profile.rate}}k</span>
            </div>
        </a>
    </div>
</div>
