<h3 class="page-title">
    {{title}}
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#/profile">Profile</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">{{record.firstName}} {{record.lastName}}</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Edit</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <span class="btn-group pull-right">
            <button class="btn btn-primary" ng-click="save(record)">Save Changes</button>
        </span>
    </div>
</div>
<div class="row">
    <div class=" col-md-10">
        <h3 class="form-section">Personal Information</h3>
        <div class="row">
            <div class="form-group col-xs-5">
                <label class="col-md-5 control-label">First Name</label>
                <input type="text" class="form-control" ng-model="record.firstName">
            </div>
            <div class="form-group col-xs-5">
                <label class="col-md-5 control-label">Last Name</label>
                <input type="text" class="form-control" ng-model="record.lastName">
            </div>
            <div class="form-group col-xs-2">
                <label class="col-md-5 control-label">Gender</label>
                <select ui-select2 class="dropdown form-control" ng-model="record.gender" ng-options="c.id as c.label for c in genders">
                    <option value="">-- Select Gender --</option>
                </select>
            </div>
            <div class="form-group col-xs-6">
                <label class="col-md-5 control-label">Email</label>
                <input type="email" class="form-control" ng-model="record.email">
            </div>
            <div class="form-group col-xs-6">
                <label class="col-md-5 control-label">Nationality</label>
                <select ui-select2 class="dropdown form-control" ng-model="record.nationality" ng-options="n.title as n.title for n in nations">
                    <option value="">-- Select Nationality --</option>
                </select>
            </div>
            <div class="form-group col-xs-8">
                <label class="col-md-5 control-label">Address</label>
                <input type="text" class="form-control" ng-model="record.address">
            </div>
            <div class="form-group col-xs-4">
                <label class="col-md-5 control-label">Pin code</label>
                <input type="text" class="form-control" ng-model="record.pinCode">
            </div>
            <div class="form-group col-xs-6">
                <label class="col-md-5 control-label">Location</label>
                <select ui-select2 class="layout-style-option form-control input-sm" ng-model="record.locationId" ng-options="location.id as location.title for location in locations">
                    <option value="">-- Select Location --</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <h3 class="form-section">Profile Picture</h3>
        <a href="#" class="thumbnail">
            <img ng-src="{{record.picture.url}}" alt="{{record.firstName}} {{record.lastName}}">
        </a>
        <ng-upload-form ng-model="record.picture" url="/upload/picture"
                        auto-upload="true" title="Your Profile Picture..."
                        accept-file-types="/(\.|\/)(gif|jpe?g|png)$/i"
                        max-chunk-size="10"
                        multiple="false" size-limit="5000000">
        </ng-upload-form>
        <hr/>
        <div class="form-group">
            <ng-upload-form ng-model="record.cv"
                            url="/upload"
                            auto-upload="true"
                            title="Your Resume..."
                            accept-file-types="/(\.|\/)(doc|docx|pdf|txt|rtf)$/i"
                            max-chunk-size="10"
                            multiple="false"
                            size-limit="5000000"></ng-upload-form>
        </div>
    </div>
</div>
<h3 class="form-section">Contact Information</h3>
<div class="row">
    <div class="form-group col-xs-3">
        <div class="input-group">
            <label class="input-group-addon"><i class="fa fa-mobile"></i> Mobile </label>
            <input type="text" class="form-control" ng-model="record.mobile">
        </div>
    </div>
    <div class="form-group col-xs-3">
        <div class="input-group">
            <label class="input-group-addon"><i class="fa fa-mobile"></i> Mobile 2 </label>
            <input type="text" class="form-control" ng-model="record.alternateNumber">
        </div>
    </div>
    <div class="form-group col-xs-6">
        <div class="input-group">
            <label class="input-group-addon"><i class="fa fa-globe"></i> Website</label>
            <input type="text" class="form-control" ng-model="record.webSite">
        </div>
    </div>
    <div class="form-group col-xs-6">
        <div class="input-group">
            <label class="input-group-addon"><i class="fa fa-google-plus"></i></label>
            <input type="text" class="form-control" ng-model="record.google">
        </div>
    </div>
    <div class="form-group col-xs-6">
        <div class="input-group">
            <label class="input-group-addon"><i class="fa fa-facebook"></i></label>
            <input type="text" class="form-control" ng-model="record.facebook">
        </div>
    </div>
    <div class="form-group col-xs-6">
        <div class="input-group">
            <label class="input-group-addon"><i class="fa fa-linkedin"></i></label>
            <input type="text" class="form-control" ng-model="record.linkedIn">
        </div>
    </div>
    <div class="form-group col-xs-6">
        <div class="input-group">
            <label class="input-group-addon"><i class="fa fa-twitter"></i></label>
            <input type="text" class="form-control" ng-model="record.twitter">
        </div>
    </div>
    <div class="form-group col-xs-6">
        <div class="input-group">
            <label class="input-group-addon"><i class="fa fa-yahoo"></i></label>
            <input type="text" class="form-control" ng-model="record.yahoo">
        </div>
    </div>
</div>
<h3 class="form-section">Techinical Information</h3>
<div class="row">
    <div class="form-group col-xs-3">
        <label class="control-label col-xs-12">Experience</label>
        <div class="pull-left input-group col-xs-6">
            <input type="number" class="form-control" ng-model="record.experienceYears" min="0" max="40">
            <span class="input-group-addon">
                yrs
            </span>
        </div>
        <div class="input-group col-xs-6">
            <input type="number" class="form-control" ng-model="record.experienceMonths" min="0" max="11">
            <span class="input-group-addon">
                months
            </span>
        </div>
    </div>
    <div class="form-group col-xs-3">
        <label class="col-xs-12 control-label">Rate (in Thousands)</label>
        <div class="input-group">
            <input type="number" class="form-control" ng-model="record.rate">
            <div class="input-group-btn">
                <button type="button" class="btn yellow dropdown-toggle" data-toggle="dropdown">{{record.rateType}} <i class="fa fa-angle-down"></i></button>
                <ul class="dropdown-menu pull-right">
                    <li><a href="#" ng-click="record.rateType='Hourly'">Hourly</a></li>
                    <li><a href="#" ng-click="record.rateType='Monthly'">Monthly</a></li>
                    <li><a href="#" ng-click="record.rateType='Yearly'">Yearly</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="form-group col-xs-3">
        <label class="col-xs-12 control-label">Consultant Type</label>
        <select ui-select2 class="dropdown form-control" ng-model="record.consultantType" ng-options="c.id as c.label for c in contractorType">
            <option value="">-- Select type --</option>
        </select>
    </div>
    <div class="form-group col-xs-3">
        <label class="col-md-12 control-label">Contract Type</label>
        <select ui-select2 class="dropdown form-control" ng-model="record.contractType" ng-options="c.id as c.label for c in contractType">
            <option value="">-- Select type --</option>
        </select>
    </div>
    <div class="form-group col-xs-6">
        <label class="col-md-3 control-label">Industry</label>
        <select ui-select2 class="dropdown form-control" ng-model="record.industryId" ng-options="i.id as i.title for i in industries">
            <option value="">-- Select type --</option>
        </select>
    </div>
    <div class="form-group col-xs-6">
        <label class="col-md-6 control-label">Functional Area</label>
        <select ui-select2 class="dropdown form-control" ng-model="record.functionalAreaId" ng-options="i.id as i.title for i in functionalAreas">
            <option value="">-- Select type --</option>
        </select>
    </div>
</div>
<div ng-repeat="l in levels">
    <h3>{{l.label}} Skills</h3>
    <table class="table table-advance">
        <thead>
        <tr>
            <th>Skill</th>
            <th>Experience (Months)</th>
            <th>Profficieny</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tr ng-repeat="s in record.skills | filter:{ level: l.label }">
            <td>{{s.title}}</td>
            <td><input class="form-control" type="number" ng-model="s.experienceInMonths"/></td>
            <td><select ui-select2 class="form-control" ng-model="s.proficiency" ng-options="c.id as c.label for c in proficiencies"></select></td>
            <td><button class="btn btn-danger" ng-click="remove(s)"><i class="fa fa-trash"></i></button></td>
        </tr>
    </table>
    <div class="row">
        <div class="col-md-10">
            <tags-input placeholder="Add Skill" display-property="title" ng-model="newSkill">
                <auto-complete source="loadSkills($query)"></auto-complete>
            </tags-input>
        </div>
        <div class="col-md-2">
            <button ng-click="addSkill(newSkill,l)" class="btn btn-primary"><i class="fa fa-plus"></i> Add</button>
        </div>
    </div>
</div>
<h3 class="form-section">Schedule</h3>
<table class="table table-advance">
    <thead>
    <tr>
        <th>Status</th>
        <th>From</th>
        <th>To</th>
        <th>Days</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tr ng-repeat="s in record.schedules track by $index">
        <td>{{s.isAvailable ? 'Available' : s.company}}</td>
        <td>{{s.start | date:'dd-MMM-yyyy'}}</td>
        <td>{{s.end | date:'dd-MMM-yyyy'}}</td>
        <td>{{s.end | amDifference : s.start : 'days'}} Days</td>
        <td>
            <button class="btn btn-danger" data-toggle="confirmation" data-original-title="Are you sure ?" title="" ng-click="deleteSchedule(s,$index)"><i class="fa fa-trash"></i> Delete</button>
        </td>
    </tr>
</table>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="row">
                <label class="col-xs-12">&nbsp;</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" class="form-control" ng-model="sch.isAvailable">
                    </span>
                    <span class="input-group-addon">
                        Available?
                    </span>
                    <input type="text" class="form-control" id="companyname" ng-disabled="sch.isAvailable" placeholder="Description" ng-model="sch.company">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <label>Date Range</label>
            <div class="input-group">
                <input date-range-picker class="form-control date-picker" min="today" options="{format:'MM/DD/YYYY'}" type="text" ng-model="sch.date" />
                <span class="input-group-btn">
                    <button class="btn default date-range-toggle" type="button"><i class="fa fa-calendar"></i></button>
                    <button ng-click="saveSchedule(sch)" class="btn btn-primary"><i class="fa fa-plus"></i> Add</button>
                </span>
            </div>
        </div>
    </div>
</div>

<h3 class="form-section">Full Profile</h3>
<div class="form-group">
    <textarea class="form-control" ckeditor="editorOptions" rows="15" ng-model="record.about" required placeholder="Your Profile Details"></textarea>
</div>
<div class="text-center form-group">
    <input type="button" id="submit" value="Save" ng-click="save(record)" class="btn btn-primary" />
</div>