<div class="container margtop">
    <form ng-submit="save(record)">
        <div class="row">
            <div class="col-sm-8">
                <h2>{{record.name}}</h2>
                <div class="form-group" id="job-email-group">
                    <label>Name</label>
                    <input type="text" class="form-control" ng-model="record.name">
                </div>
                <div class="form-group" id="job-email-group">
                    <label>Email</label>
                    <input type="email" class="form-control" ng-model="record.email">
                </div>
                <div class="form-group" id="job-title-group">
                    <label>Title</label>
                    <input type="text" class="form-control" ng-model="record.title" placeholder="e.g. Web Developer">
                </div>
                <div class="form-group" id="job-region-group">
                    <label>Experience (Years and Months)</label>
                </div>
                <div class="row text-center">
                    <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="record.experienceMonths" placeholder="In Month ">
                     </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" ng-model="record.experienceYears" placeholder="In Year">
                    </div>
                </div>
                <div class="form-group" id="job-location-group">
                    <label for="job-location">Location</label>
                    <input type="text" class="form-control" ng-model="record.locationId" placeholder="e.g. 4">
                </div>
                <div class="form-group" id="job-location-group">
                    <label for="job-location">Skills</label>
                    <input type="text" class="form-control" ng-model="record.skills" placeholder="e.g. Asp.net">
                </div>
                <div class="form-group">
                    <label>Rate (in 1000 per hour)</label>
                    <input type="number" class="form-control" ng-model="record.rate">
                </div>
                <div class="form-group wysiwyg" id="job-description-group">
                    <label>Description</label>

                    <div class="btn-toolbar" data-role="editor-toolbar" data-target="#job-description">
                        <div class="btn-group">
                            <a class="btn" data-edit="bold" title="" data-original-title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                            <a class="btn" data-edit="italic" title="" data-original-title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                        </div>
                        <div class="btn-group">
                            <a class="btn" data-edit="insertunorderedlist" title="" data-original-title="Bullet list"><i class="fa fa-list-ul"></i></a>
                            <a class="btn" data-edit="insertorderedlist" title="" data-original-title="Number list"><i class="fa fa-list-ol"></i></a>
                        </div>
                        <div class="btn-group">
                            <a class="btn" data-edit="justifyleft" title="" data-original-title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                            <a class="btn" data-edit="justifycenter" title="" data-original-title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
                            <a class="btn" data-edit="justifyright" title="" data-original-title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
                        </div>
                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Hyperlink"><i class="fa fa-link"></i></a>
                            <div class="dropdown-menu input-append">
                                <input class="form-control pull-left" placeholder="http://" type="text" data-edit="createLink">
                                <button class="btn btn-primary" type="button">Add</button>
                            </div>
                            <a class="btn" data-edit="unlink" title="" data-original-title="Remove Hyperlink"><i class="fa fa-unlink"></i></a>
                        </div>
                        <input type="text" data-edit="inserttext" id="voiceBtn" style="display: none;">
                    </div>

                    <div class="editor" id="job-description" contenteditable="true">Job description</div>
                </div>
                <div class="form-group">
                    <label>Website (Optional)</label>
                    <input type="text" class="form-control" ng-model="record.website">
                </div>
                <div class="form-group">
                    <label>Google+ Username (Optional)</label>
                    <input type="text" class="form-control" ng-model="record.google">
                </div>
                <div class="form-group">
                    <label>Facebook (Optional)</label>
                    <input type="text" class="form-control" ng-model="record.facebook">
                </div>
                <div class="form-group">
                    <label>LinkedIn (Optional)</label>
                    <input type="text" class="form-control" ng-model="record.linkedIn">
                </div>
                <div class="form-group">
                    <label>Twitter (Optional)</label>
                    <input type="text" class="form-control" ng-model="record.twitter">
                </div>
                <div class="form-group">
                    <label>Yahoo (Optional)</label>
                    <input type="text" class="form-control" ng-model="record.yahoo">
                </div>
                <div class="form-group">
                    <label>Mobile </label>
                    <input type="text" class="form-control" ng-model="record.mobile">
                </div>
            </div>
        </div>
        <div class="row text-center">
            <p>&nbsp;</p>
            <input type="submit" id="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>
