<link href="/Content/css/table.css" rel="stylesheet" />

<div class="container margtop">
    <h2>Job Schedule</h2>
    <div class="row">
        <div class="col-sm-11">
            <div>
                <button class="btn btn-primary" ng-click="isCollapsed = !isCollapsed" style="margin-left: -15px;">New Schedule</button>

                <div collapse="isCollapsed" style="margin-top:5px">
                    <form ng-submit="save(record)">
                        <div class="col-md-4" contenteditable="true" style="  margin-left: -3%;">
                            <label>Company</label>
                            <input type="text" class="form-control save" placeholder="e.g. IBM" ng-model="record.company">
                        </div>
                        <div class="col-md-4" contenteditable="true">
                            <label>Start Date</label>
                            <input type="date" class="form-control save" ng-model="record.start">
                        </div>
                        <div class="col-md-4" contenteditable="true">
                            <label>End Date</label>
                            <input type="date" class="form-control save" ng-model="record.end">
                        </div>
                        <div class="col-md-3">
                            <button type="submit" id="submit" class="btn btn-primary" style="margin-left: 460%; margin-top:-32%">Ok</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="jobs">
            <a href="#" ng-repeat="s in schedule">
                <div class="featured"></div>
                <div class="title">
                    <h5>{{s.Company}}</h5>
                    <!--<p>Amazon Inc.</p>-->
                </div>
                <div class="data">
                    <span class="city">{{s.id}}</span>
                    <span class="city">{{s.start}}</span>
                    <span class="type full-time">{{s.end}}</span>
                    <input type="submit" id="submit" value="Edit" class="btn btn-primary" />
                    <input type="submit" id="submit" value="Delete" class="btn btn-danger table-remove" />
                </div>
            </a>
        </div>
    </div>
</div>

