<link href="/Content/css/table.css" rel="stylesheet" />

<div class="container margtop">
    <h2>Job Schedule</h2>       
    <div class="row">
        <div class="col-sm-11">
            <div>
                <button class="btn btn-primary" ng-click="isCollapsed = !isCollapsed" style="margin-left: -15px;">New Schedule</button>
               
             <div collapse="isCollapsed" style="margin-top:5px">
                  <form ng-submit="save(record)">
                     <div class="col-md-4" contenteditable="true" style="  margin-left: -3%;">
                            <label>Company</label>
                         <input type="text" class="form-control save" placeholder="e.g. IBM" ng-model="record.company">
                        </div>
                        <div class="col-md-4" contenteditable="true">
                            <label>Start Date</label>
                            <input type="date" class="form-control save" ng-model="record.start">
                        </div>
                        <div class="col-md-4" contenteditable="true">
                            <label>End Date</label>
                            <input type="date" class="form-control save" ng-model="record.end">
                        </div>
                        <div class="col-md-3">
                            <input type="submit" id="submit" value="Ok" class="btn btn-primary" style="margin-left: 460%; margin-top:-32%" />
                        </div>
                        <!--<table class="table">
                            <tr>
                                <th>Company</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <td contenteditable="true">
                                    <input type="text" class="form-control save" placeholder="e.g. IBM">
                                </td>
                                <td contenteditable="true">
                                    <input type="date" class="form-control save" ng-model="record.Start">
                                </td>
                                <td contenteditable="true">
                                    <input type="date" class="form-control save" ng-model="record.End">
                                </td>
                                <td style="padding-top: 10px;">
                                    <input type="submit" id="submit" value="Ok" class="btn btn-primary" />
                                    <input type="submit" id="submit" value="Delete" class="btn btn-danger table-remove" />
                                </td>
                            </tr>
                          
                        </table>-->
                    </form>
               
                    </div>
                </div>
            </div>
        <div class="jobs">

            <!-- Job offer 1 -->
            <a href="#" ng-repeat="s in schedule">
                <div class="featured"></div>
                 <div class="title">
                    <h5>{{s.Company}}</h5>
                    <!--<p>Amazon Inc.</p>-->
                </div>
                <div class="data">
                    <span class="city">{{s.id}}</span>
                    <span class="city">{{s.start}}</span>
                    <span class="type full-time">{{s.end}}</span>
                    
                    <input type="submit" id="submit" value="Edit" class="btn btn-primary" />
                    <input type="submit" id="submit" value="Delete" class="btn btn-primary table-remove" />
                </div>
            </a>

            <!-- Job offer 2 -->
            <!--<a href="#">
                <div class="featured"></div>
                <img src="images/job2.jpg" alt="" class="img-circle" />
                <div class="title">
                    <h5>Senior Web Developer</h5>
                    <p>Dropbox Inc.</p>
                </div>
                <div class="data">
                    <span class="city"><i class="fa fa-map-marker"></i>Los Angeles</span>
                    <span class="type part-time"><i class="fa fa-clock-o"></i>Part Time</span>
                    <span class="sallary"><i class="fa fa-dollar"></i>85,000</span>
                    <input type="submit" id="submit" value="Edit" class="btn btn-primary" />
                    <input type="submit" id="submit" value="Delete" class="btn btn-primary table-remove" />
                </div>
            </a>-->

            <!-- Job offer 3 -->
            <!--<a href="#">
                <img src="images/job3.jpg" alt="" class="img-circle" />
                <div class="title">
                    <h5>Project Manager</h5>
                    <p>Apple Inc.</p>
                </div>
                <div class="data">
                    <span class="city"><i class="fa fa-map-marker"></i>San Francisco</span>
                    <span class="type freelance"><i class="fa fa-clock-o"></i>Freelance</span>
                    <span class="sallary"><i class="fa fa-dollar"></i>60,000</span>
                    <input type="submit" id="submit" value="Edit" class="btn btn-primary" />
                    <input type="submit" id="submit" value="Delete" class="btn btn-primary table-remove" />
                </div>
            </a>-->

            <!-- Job offer 4 -->
            <!--<a href="#">
                <img src="images/job4.jpg" alt="" class="img-circle" />
                <div class="title">
                    <h5>Key Account Manager</h5>
                    <p>Dell Inc.</p>
                </div>
                <div class="data">
                    <span class="city"><i class="fa fa-map-marker"></i>Boston</span>
                    <span class="type full-time"><i class="fa fa-clock-o"></i>Full Time</span>
                    <span class="sallary"><i class="fa fa-dollar"></i>55,000</span>
                    <input type="submit" id="submit" value="Edit" class="btn btn-primary" />
                    <input type="submit" id="submit" value="Delete" class="btn btn-primary table-remove" />
                </div>
            </a>-->

            <!-- Job offer 5 -->
            <!--<a href="#">
                <img src="images/job5.jpg" alt="" class="img-circle" />
                <div class="title">
                    <h5>Front End Developer</h5>
                    <p>Ebay Inc.</p>
                </div>
                <div class="data">
                    <span class="city"><i class="fa fa-map-marker"></i>Chicago</span>
                    <span class="type part-time"><i class="fa fa-clock-o"></i>Part Time</span>
                    <span class="sallary"><i class="fa fa-dollar"></i>75,000</span>
                    <input type="submit" id="submit" value="Edit" class="btn btn-primary" />
                    <input type="submit" id="submit" value="Delete" class="btn btn-primary table-remove" />
                </div>
            </a>-->

            <!-- Job offer 6 -->
            <!--<a href="#">
                <img src="images/job1.jpg" alt="" class="img-circle" />
                <div class="title">
                    <h5>Web Designer</h5>
                    <p>Amazon Inc.</p>
                </div>
                <div class="data">
                    <span class="city"><i class="fa fa-map-marker"></i>New York City</span>
                    <span class="type full-time"><i class="fa fa-clock-o"></i>Full Time</span>
                    <span class="sallary"><i class="fa fa-dollar"></i>45,000</span>
                    <input type="submit" id="submit" value="Edit" class="btn btn-primary" />
                    <input type="submit" id="submit" value="Delete" class="btn btn-primary table-remove" />
                </div>
            </a>-->

        </div>
        </div>
    </div>
    
