<section id="jobs">
    <a class="btn btn-primary editbtn hidden-xs" href="/#/profile/edit"><i class="fa fa-edit"></i> Edit Profile</a>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <article>
                    <h2>{{record.firstName}} {{record.lastName}}</h2>
                    <img src="{{record.pictureUrl}}" alt="{{record.firstName}} {{record.lastName}}" class="pull-left" />
                    <p>{{record.description}}</p>
                    <h3>Skills</h3>
                    <ul>
                        <li ng-repeat="s in record.skills">{{s.title}}</li>
                    </ul>
                    <p><a href="#" class="btn btn-primary btn-lg"><i class="fa fa-arrow-down"></i> Download Resume</a></p>
                </article>
            </div>
            <div class="col-sm-4" id="sidebar">
                <div class="sidebar-widget" id="share">
                    <h2>Share resume</h2>
                    <ul>
                        <li ng-if="record.facebook"><a href="{{record.facebook}}"><i class="fa fa-facebook"></i></a></li>
                        <li ng-if="record.twitter"><a href="{{record.twitter}}"><i class="fa fa-twitter"></i></a></li>
                        <li ng-if="record.google"><a href="{{record.google}}"><i class="fa fa-google-plus"></i></a></li>
                        <li ng-if="record.linkedin"><a href="{{record.linkedin}}"><i class="fa fa-linkedin"></i></a></li>
                        <li ng-if="record.webSite"><a href="{{record.webSite}}"><i class="fa fa-globe"></i></a></li>
                        <li ng-if="record.yahoo"><a href="{{record.yahoo}}"><i class="fa fa-yahoo"></i></a></li>
                    </ul>
                </div>
                <hr>
                <div class="sidebar-widget" id="widget-contact">
                    <h2>Contact</h2>
                    <ul>
                        <li><i class="fa fa-user"></i>{{record.firstName}} {{record.lastName}}</li>
                        <li ng-if="record.about"><i class="fa fa-briefcase"></i>{{record.about}}</li>
                        <li ng-if="record.birthday"><i class="fa fa-birthday-cake"></i>{{record.birthday}}</li>
                        <li ng-if="record.location"><i class="fa fa-map-marker"></i>{{record.location}}</li>
                        <li ng-if="record.mobile"><i class="fa fa-phone"></i>{{record.mobile}}</li>
                        <li ng-if="record.alternateNumber"><i class="fa fa-phone"></i>{{record.alternateNumber}}</li>
                        <li ng-if="record.email"><i class="fa fa-envelope"></i><a href="mailto:{{record.email}}">{{record.email}}</a></li>
                    </ul>
                </div>
                <hr>
                <div class="sidebar-widget" id="skills">
                    <h2>Key skills</h2>
                    <a ng-repeat="s in record.skills" class="badge">{{s.title}}</a>
                </div>
            </div>
        </div>
    </div>
</section>
