<h3 class="page-title">
    {{title}} <small>{{count}}</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Schedule</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <span class="btn-group pull-right">
            <button class="btn btn-primary" ng-click="clean()">Add New</button>
        </span>
    </div>
</div>
<form ng-submit="save(record)" class="form-horizontal">
    <div class="form-group col-md-6">
        <label>Is Available?</label>
        <div class="input-group">
            <span class="input-group-addon">
                <span class="checked"><input type="checkbox" ng-model="record.isAvailable"></span>
            </span>
            <input type="text" class="form-control" id="companyname" ng-disabled="record.isAvailable" placeholder="Description" ng-model="record.company">
        </div>
    </div>
    <div class="form-group col-md-6">
        <label>Date Range</label>
        <div class="input-group">
            <input date-range-picker class="form-control date-picker" min="today" options="{format:'MM/DD/YYYY'}" type="text" ng-model="record.date" />
            <span class="input-group-btn">
                <button class="btn default date-range-toggle" type="button"><i class="fa fa-calendar"></i></button>
                <button type="submit" id="submit" class="btn btn-primary"><i class="fa fa-plus"></i> {{method}}</button>
            </span>
        </div>
    </div>
</form>
<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>Status</th>
            <th>From</th>
            <th>To</th>
            <th>Days</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tr ng-repeat="s in records">
        <td>{{s.isAvailable ? 'Available' : s.company}}</td>
        <td>{{s.start | date:'dd-MMM-yyyy'}}</td>
        <td>{{s.end | date:'dd-MMM-yyyy'}}</td>
        <td>{{s.end | amDifference : s.start : 'days'}} Days</td>
        <td>
            <button class="btn btn-primary" ng-click="edit(s)"><i class="fa fa-edit"></i> Edit</button>
            <button class="btn btn-danger" data-toggle="confirmation" data-original-title="Are you sure ?" title=""><i class="fa fa-trash"></i> Delete</button>
        </td>
    </tr>
</table>
<cc-pager total-pages="pages" current-page="currentPage"
          page-action="navigate(pageNumber)">
</cc-pager>