<h3 class="page-title">
    {{title}} <small>{{count}}</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Schedule</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <span class="btn-group pull-right">
            <!--<button class="btn btn-primary" ng-click="applyAll()">Apply</button>
            <button class="btn btn-warning" ng-click="favoriteAll()">Favorite</button>-->
        </span>
    </div>
</div>
<div class="col-md-4">
    <form ng-submit="save(record)">
        <div class="form-group">
            <label>Is Available?</label>
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="checked"><input type="checkbox" ng-model="record.isAvailable"></span>
                </span>
                <input type="text" class="form-control" id="companyname" ng-disabled="record.isavailable" placeholder="Description" ng-model="record.company">
            </div>
        </div>
        <div class="form-group">
            <label>Date Range</label>
            <div class="input-group">
                <input date-range-picker class="form-control date-picker" min="today" options="{format:'MM/DD/YYYY'}" type="text" ng-model="record.date" />
                <span class="input-group-btn">
                    <button class="btn default date-range-toggle" type="button"><i class="fa fa-calendar"></i></button>
                    <button type="submit" id="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Add</button>
                </span>
            </div>
        </div>
    </form>
    <br />
</div>
<div class="col-md-12">
    <div class="listings" ng-repeat="s in records">
        <div class="row" ng-show="!s.editMode">
            <div class="col-md-3">{{s.company}}</div>
            <div class="col-md-3">{{s.start | date:'dd-MMM-yyyy'}}</div>
            <div class="col-md-3">{{s.end | date:'dd-MMM-yyyy'}}</div>
            <div class="col-md-3">
                <button class="btn btn-primary" ng-click="toggle(s)"><i class="fa fa-edit"></i> Edit</button>
                <button class="btn btn-danger" ng-click="delete(s)"><i class="fa fa-trash"></i> Delete</button>
            </div>
        </div>
        <div class="row" ng-show="s.editMode">
            <div class="col-md-3"><input type="text" class="form-control" ng-model="s.company" /></div>
            <div class="col-md-3"><input type="date" class="form-control" ng-model="s.start" /></div>
            <div class="col-md-3"><input type="date" class="form-control" ng-model="s.end" /></div>
            <div class="col-md-3">
                <button ng-click="update(s)" id="submit1" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
                <button ng-click="toggle(s)" class="btn btn-info"><i class="fa fa-cross"></i> Cancel</button>
            </div>
        </div>
    </div>
</div>

<cc-pager total-pages="pages" current-page="currentPage"
          page-action="navigate(pageNumber)">
</cc-pager>