<h3 class="page-title">
    {{title}} <small>{{count}} results</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Search</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <span class="btn-group pull-right">
            <button class="btn btn-primary" ng-click="applyAll()">Apply</button>
            <button class="btn btn-warning" ng-click="favoriteAll()">Favorite</button>
        </span>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <!-- Find a Job Start -->
        <div class="sidebar-widget" id="jobsearch">
            <div class="sidebar-widget">
                <div class="btn-group pull-right">
                    <div ng-switcher ng-click="toggle(selectAll)" ng-model="selectAll"></div>
                </div>
            </div>
            <h2>Filter Jobs</h2>
            <form ng-submit="search(query)">
                <div class="row">
                    <div class="col-xs-12">
                        <h5>Keyword</h5>
                        <div class="input-group">
                            <input class="form-control" type="text" ng-model="query.keywords" placeholder="e.g. Senior Consultant" />
                            <div class="input-group-btn"><button class="btn btn-primary srch-btn-pad" ng-click="search(query)"><i class="fa fa-search"></i></button></div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <h5>Skill</h5>
                        <select class="form-control" ng-model="query.skills" ng-options="s.title as s.title for s in skills track by s.title" ng-change="search(query)"></select>
                    </div>
                    <div class="col-xs-12">
                        <h5>Location</h5>
                        <select class="form-control" ng-model="query.location" ng-options="s.title as s.title for s in locations track by s.title" ng-change="search(query)"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h5>Experience (months)</h5>
                        <rzslider rz-slider-floor="experienceSlider.floor"
                                  rz-slider-ceil="experienceSlider.ceil"
                                  rz-slider-model="experienceSlider.min"
                                  rz-slider-high="experienceSlider.max">
                        </rzslider>
                    </div>
                    <div class="col-xs-12">
                        <h5>Rate (per hour)</h5>
                        <rzslider rz-slider-floor="rateSlider.floor"
                                  rz-slider-ceil="rateSlider.ceil"
                                  rz-slider-model="rateSlider.min"
                                  rz-slider-high="rateSlider.max"
                                  rz-slider-on-change="rateChange()">
                        </rzslider>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-primary" ng-click="resetFilters()">Reset All Filters</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- Find a Job End -->
    </div>

    <div class="col-sm-9">
        <cc-pager total-pages="pages" current-page="currentPage"
                  page-action="navigate(pageNumber)">
        </cc-pager>
        <div class="row">
            <div class="jobs">
                <div ng-if="count<1">
                    <div class="alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Ooops! You got us..</strong>
                        <p>
                            We could not find anything.
                        </p>
                        <p>
                            <a class="btn btn-warning" href="#/search"><i class="fa fa-search"></i> Reset Filters and Try Again</a>
                        </p>
                    </div>
                </div>
                <div class="row" ng-repeat="row in records">
                    <div class="col-md-12">
                        <!-- BEGIN Portlet PORTLET-->
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-paper-plane font-yellow-casablanca"></i>
                                    <a href="/#/job/{{row.id}}">
                                        <span class="caption-subject bold font-yellow-casablanca uppercase">
                                            {{row.title}}
                                        </span>
                                        <span class="caption-helper">{{row.company}}</span>
                                    </a>
                                </div>
                                <div class="actions flex">
                                    <a ng-if="row.favorite" class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                        <i class="fa fa-star shine"></i>
                                    </a>
                                    <a ng-if="row.isWorkingFromHome" class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                        <i class="fa fa-home shine"></i>
                                    </a>
                                    <a ng-if="!row.isWorkingFromHome" class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                        <i class="fa fa-car shine"></i>
                                    </a>
                                    <span class="highlight" ng-if="row.application">Applied on {{row.application | date:'dd-MMM-yy'}}</span>
                                    <span class="highlight-danger" ng-if="row.revoke">Revoked on {{row.revoke | date:'dd-MMM-yy'}}</span>
                                    <span class="highlight-danger" ng-if="row.rejected">Rejected on {{row.rejected | date:'dd-MMM-yy'}}</span>
                                    <div ng-switcher class="pull-right" ng-model="row.selected"></div>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <h5><a ng-href="row.webSite">{{row.webSite}}</a></h5>
                                <p>
                                    {{row.description | limitTo: 200}}{{row.description.length > 300 ? '...' : ''}} <a href="#/job/{{row.id}}" style="color: #14b1bb;">... View More</a>
                                </p>
                            </div>
                            <div class="portlet-footer">
                                <div class="actions">
                                    <span class="pull-right"><i class="fa fa-calendar-o"></i> {{row.start | date:'dd-MMM-yy'}} to {{row.end | date:'dd-MMM-yy'}}</span>
                                    <a href="javascript:;" class="btn btn-circle btn-success">
                                        <i class="fa fa-inr"></i> {{row.rate}}
                                    </a>
                                    <a href="javascript:;" class="btn btn-circle btn-default" ng-repeat="s in row.locations | limitTo:5">
                                        <i class="fa fa-map-marker"></i> {{s.title}}
                                    </a>
                                </div>
                                <label class="btn btn-circle btn-transparent active" ng-repeat="s in row.skills | limitTo:5">
                                    <i class="fa fa-star-o"></i> {{s.code}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div ng-if="row.featured" class="featured"></div>
                </div>
            </div>
        </div>
    </div>


</div>
<cc-pager total-pages="pages" current-page="currentPage"
          page-action="navigate(pageNumber)">
</cc-pager>

