<section id="jobs">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2>{{title}} {{records.count}}</h2>
                <p>{{searching}}</p>
                <cc-pager total-pages="pages" current-page="currentPage"
                          page-action="navigate(pageNumber)">
                </cc-pager>
                <div class="jobs">
                    <div ng-if="records.count<1">
                        <div class="alert alert-warning">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <strong>Ooops! You got us..</strong>
                            <p>
                                We could not find anything.
                            </p>
                            <p>
                                <a class="btn btn-success" href="#/search"><i class="fa fa-search"></i> Search Again</a>
                            </p>
                        </div>
                    </div>
                    <a href="#" ng-repeat="row in records" ng-href="/#/job/{{row.id}}">
                        <div class="{{row.ifFeatured}}"></div>
                        <div class="title">
                            <h5>{{row.title}} <small>{{row.company}}</small></h5>
                            <p>{{row.description | limitTo: 200}}{{row.description.length > 200 ? '...' : ''}}</p>
                        </div>
                        <div class="data">
                            <span class="city"><i class="fa fa-map-marker"></i>{{row.location.title}}</span>
                            <span class="experience"><i class="fa fa-trophy"></i>{{row.experienceYears}} years {{row.experienceMonths}} months</span>
                            <span class="sallary"><i class="fa fa-dollar"></i>{{row.rate}}</span>
                        </div>
                    </a>
                </div>
                <cc-pager total-pages="pages" current-page="currentPage"
                          page-action="navigate(pageNumber)">
                </cc-pager>
            </div>
            <div class="col-sm-4" id="sidebar">
                <!-- Find a Job Start -->
                <div class="sidebar-widget" id="jobsearch">
                    <h2>Find a Candidate</h2>
                    <form ng-submit="search(query)">
                        <div class="row">
                            <div class="col-xs-12">
                                <h5>Skill</h5> {{query.skill}}
                                <select class="form-control" ng-selected="query.skills" ng-options="s.title as s.title for s in skills track by s.id" ng-model="query.skills" ng-change="search(query)" value="query.skills"></select>
                            </div>
                            <div class="col-xs-12">
                                <h5>Location</h5> {{query.location}}
                                <select class="form-control" ng-selected="query.location" ng-options="s.title as s.title for s in locations track by s.id" ng-model="query.location" ng-change="search(query)"></select>
                            </div>
                            <!--<div class="col-xs-12">
                        <h5>Industry</h5>
                        <select class="form-control" ng-options="s.id as s.title for s in industries track by s.id" ng-model="query.industry" ng-change="search(query)"></select>
                    </div>-->
                            <div class="col-xs-12">
                                <h5>Keyword</h5>
                                <div class="input-group">
                                    <input class="form-control" type="text" ng-model="query.keywords" placeholder="e.g. Senior Consultant" />
                                    <div class="input-group-btn"><button class="btn btn-primary srch-btn-pad" ng-click="search(query)"><i class="fa fa-search"></i></button></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h5>Experience (months)</h5>
                                <rzslider rz-slider-floor="experienceSlider.floor"
                                          rz-slider-ceil="experienceSlider.ceil"
                                          rz-slider-model="experienceSlider.min"
                                          rz-slider-high="experienceSlider.max">
                                </rzslider>
                            </div>
                            <div class="col-xs-12">
                                <h5>Rate (per hour)</h5>
                                <rzslider rz-slider-floor="rateSlider.floor"
                                          rz-slider-ceil="rateSlider.ceil"
                                          rz-slider-model="rateSlider.min"
                                          rz-slider-high="rateSlider.max"
                                          rz-slider-on-change="rateChange()">
                                </rzslider>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button class="btn btn-primary" ng-click="resetFilters()">Reset All Filters</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Find a Job End -->

            </div>
        </div>
    </div>
</section>
