<h3 class="page-title">
    {{title}} <small>{{count}} results</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Search</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <span class="btn-group pull-right">
            <button class="btn btn-primary" ng-click="applyAll()">Apply</button>
            <button class="btn btn-warning" ng-click="favoriteAll()">Favorite</button>
        </span>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <!-- Find a Job Start -->
        <div class="sidebar-widget" id="jobsearch">
            <div class="sidebar-widget">
                <div class="btn-group pull-right">
                    <div ng-switcher ng-click="toggle(selectAll)" ng-model="selectAll"></div>
                </div>
            </div>
            <h2>Filter Jobs</h2>
            <form ng-submit="search(query)">
                <div class="row">
                    <div class="col-xs-12">
                        <h5>Keyword</h5>
                        <div class="input-group">
                            <input class="form-control" type="text" ng-model="query.keywords" placeholder="e.g. Senior Consultant" />
                            <div class="input-group-btn"><button class="btn btn-primary srch-btn-pad"><i class="fa fa-search"></i></button></div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <h5>Skill</h5>
                        <select ui-select2 class="form-control" ng-model="query.skills" ng-options="s.title as s.title for s in skills track by s.title" ng-change="search(query)"></select>
                    </div>
                    <div class="col-xs-12">
                        <h5>Location</h5>
                        <select ui-select2 class="form-control" ng-model="query.location" ng-options="s.title as s.title for s in locations track by s.title" ng-change="search(query)"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h5>Experience (months)</h5>
                        <rzslider rz-slider-floor="experienceSlider.floor"
                                  rz-slider-ceil="experienceSlider.ceil"
                                  rz-slider-model="experienceSlider.min"
                                  rz-slider-high="experienceSlider.max">
                        </rzslider>
                    </div>
                    <div class="col-xs-12">
                        <h5>Rate (per hour)</h5>
                        <rzslider rz-slider-floor="rateSlider.floor"
                                  rz-slider-ceil="rateSlider.ceil"
                                  rz-slider-model="rateSlider.min"
                                  rz-slider-high="rateSlider.max"
                                  rz-slider-on-change="rateChange()">
                        </rzslider>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-primary" ng-click="resetFilters()">Reset All Filters</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- Find a Job End -->
    </div>

    <div class="col-sm-9">
        <div ng-if="count<1">
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Ooops! You got us..</strong>
                <p>
                    We could not find anything.
                </p>
                <p>
                    <a class="btn btn-warning" href="#/search"><i class="fa fa-search"></i> Reset Filters and Try Again</a>
                </p>
            </div>
        </div>
        <div class="row">
            <cc-pager total-pages="pages" current-page="currentPage"
                      page-action="navigate(pageNumber)">
            </cc-pager>
            <div class="col-xs-12" ng-repeat="row in records" ng-include="'app/views/contractor/job.item.html'"></div>
            <cc-pager total-pages="pages" current-page="currentPage"
                      page-action="navigate(pageNumber)">
            </cc-pager>
        </div>
    </div>
</div>